/* ==== Containers ==== */
.container-12 { width: 980px; background-color: #fff; }
/* ==== Grid >> Global ==== */
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 { display:inline; float: left; position: relative; }
.offset-1, .pull-1, .offset-2, .pull-2, .offset-3, .pull-3, .offset-4, .pull-4, .offset-5, .pull-5, .offset-6, .pull-6, .offset-7, .pull-7, .offset-8, .pull-8, .offset-9, .pull-9, .offset-10, .pull-10, .offset-11, .pull-11 { position:relative; }
/* ==== Grid >> Children ==== */
.alpha { margin-left: 0; }
.omega { margin-right: 0; }
/* ==== Grid >> 12 Columns ==== */
.container-12 .grid-1 { width:60px; }
.container-12 .grid-2 { width:140px; }
.container-12 .grid-3 { width:220px; }
.container-12 .grid-4 { width:300px; }
.container-12 .grid-5 { width:380px; }
.container-12 .grid-6 { width:460px; }
.container-12 .grid-7 { width:540px; }
.container-12 .grid-8 { width:620px; }
.container-12 .grid-9 { width:700px; }
.container-12 .grid-10 { width:780px; }
.container-12 .grid-11 { width:860px; }
.container-12 .grid-12 { width:940px;  }
/* ==== Margin Space >> 12 Columns ==== */
.container-12 .offset-1 { margin-left:100px; }
.container-12 .offset-2 { margin-left:180px; }
.container-12 .offset-3 { margin-left:260px; }
.container-12 .offset-4 { margin-left:340px; }
.container-12 .offset-5 { margin-left:420px; }
.container-12 .offset-6 { margin-left:500px; }
.container-12 .offset-7 { margin-left:580px; }
.container-12 .offset-8 { margin-left:660px; }
.container-12 .offset-9 { margin-left:740px; }
.container-12 .offset-10 { margin-left:820px; }
.container-12 .offset-11 { margin-left:900px; }

/* ==== Helper Classes  ==== */
* { box-sizing: border-box; }
.float-left { float: left; }
.float-right { float: right; }
.content-center { display: block; margin: 0 auto; }
.houdini { display: none; }

/* ==== Layout ==== */
body { background-color: #e1eef3; }
div#wrapper { background-color: #fff !important; }

/* ==== Typography ==== */
h1, h3, h4, h5, h6 { 
	font-family:"Apercu Bold", "Source Sans Pro", sans-serif !important;
	font-size-adjust:0.508;
	font-weight:bold;
	font-style:normal;
	color: #364347;
}

h2, p, span, ul, a { 
	font-family: "Apercu Regular", "Source Sans Pro", sans-serif !important;
	font-size-adjust:0.508;
	font-weight:normal;
	font-style:normal;
	color: #364347;
}

h1, h1 a {
	display: inline-block;
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 60px;
	font-weight: bold;
	text-transform: uppercase;
	color: #e96300;
	text-decoration: none;
}

h2 {
	display: block;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	color: #5e696d;
}

h3 {
	font-size: 30px;
	line-height: 32px;
}

h4 {
	font-size: 18px;
	line-height: 32px;
	padding-bottom: 24px;
}

p, ul li {
	font-size: 16px;
	line-height: 28px;
	padding: 24px 0;
}

.sub-header {
	display: block;
	font-size: 24px;
	line-height: 24px;
	color: #5e696d;
}

.project-type {
	display: block;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #93a4aa;
}

/* ==== Navigation ==== */
nav ul {
	padding: 0;
}

nav ul li {
	display: inline;
	margin-right: 28px;
}

nav ul li:last-child { margin-right: 0; }

header nav { float: right; }

header {
	padding: 30px 40px 70px 40px;
	background-color: #fff;
}

/* ==== Buttons ==== */
.btn {
  display: inline-block;
  padding: 0 15px;
  height: 40px;
  font-family: "Apercu Regular", "Source Sans Pro", Arial, sans-serif !important;
  font-size: 16px;
  line-height: 39px;
  font-weight: normal;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
}

.btn-yellow {
	color: #364347;
	background-color: #fad46b;
	text-decoration: none;
}

.btn-yellow:hover {
	background-color: #fac739;
}

.btn-blue {
	color: #fff;
	background-color: #02baf2;
	text-decoration: none;
}

.btn-blue:hover {
	background-color: #02a7d9;
}


/* ==== Sections ==== */
section.contrast {
	background-color: #eef2f5;
}

article.summary {
	width: 380px;
	margin-left: 40px;
}

section.quizzly {
	height: 580px;
	padding-top: 140px;
	background: #fff url(https://raw.githubusercontent.com/jlitchfield/jlitchfield.github.io/update/images/quizzly.png) right bottom no-repeat;
	background-size: 540px 592px;
}

section.solstice {
	height: 550px;
	padding-top: 140px;
	background: #eef2f5 url(https://github.com/jlitchfield/jlitchfield.github.io/blob/update/images/solstice-initiative@2x.png?raw=true) 80px bottom no-repeat;
	background-size: 328px 469px;
}

section.wego {
	height: 640px;
	padding-top: 140px;
	background: #fff url(https://raw.githubusercontent.com/jlitchfield/jlitchfield.github.io/update/images/wego-health%402x.png) right no-repeat;
	background-size: 526px 531px;
}

section.bio {
	height: 551px;
	padding-top: 140px;
	background: #fff url(https://raw.githubusercontent.com/jlitchfield/jlitchfield.github.io/update/images/joshua-litchfield-ux-ui-designer.png) center center no-repeat;
	background-size: 980px 551px;
}

section.bio article {
	margin-left: 530px;
}

/* ==== Footer ==== */
footer {
	padding: 50px 0;
	background-color: #1e4ca5;	
}

footer h4, footer a {
	color: #fff;
	text-align: center;
}

footer a {
	text-decoration: none;
	-webkit-transition: all .25s linear;
	transition: all .25s linear;
}

footer a:hover {
	color: #0b1d40;
}

footer a.contact {
	display: block;
	font-size: 30px;
	line-height: 36px;
}

footer nav {
	width: 300px;
	margin-top: 24px !important; 
}

/* ==== Quizzly ==== */
header.quizzly {
	height: 530px;
	background: #d4390f url(https://raw.githubusercontent.com/jlitchfield/jlitchfield.github.io/update/images/quizzly-login.png) bottom right no-repeat;
	background-size: 511px 346px;
}

header.knockout h1, header.knockout h2, header.knockout .sub-header, header.knockout p {
	color: #fff;
}

.background {
	padding: 40px 0;
	background: #fff url(https://github.com/jlitchfield/jlitchfield.github.io/blob/update/images/gradient.png?raw=true) top center no-repeat;	
}

.background article:first-of-type {
	padding-right: 30px;
}

.background article:last-of-type {
	padding-left: 30px;
}

.brainstorm {
	height: 390px;
	padding-top: 90px;
	background: #fff url(https://raw.githubusercontent.com/jlitchfield/jlitchfield.github.io/update/images/brainstorm.png) center center no-repeat;
	background-size: 980px 390px;
}

.filters {
	padding: 60px 0;
}

.filters img {
	padding-top: 24px;
}

.details {
	height: 800px;
	padding-top: 60px;
	background: #fff url(https://raw.githubusercontent.com/jlitchfield/jlitchfield.github.io/update/images/quizzly-question-details.png) bottom center no-repeat;
	background-size: 980px 572px;
}


.create-question {
	height: 640px;
	background: #fad46b url(https://github.com/jlitchfield/jlitchfield.github.io/blob/update/images/quizzly-create-question.png?raw=true) 54px center no-repeat;
	background-size: 452px 570px;
}

.create-question article {
	width: 380px;
	padding-top: 195px;
	padding-left: 30px;
}

.groups {
	height: 800px;
	padding-top: 60px;
	background: #fff url(https://raw.githubusercontent.com/jlitchfield/jlitchfield.github.io/update/images/quizzly-groups.png) bottom center no-repeat;
	background-size: 980px 588px;
}

/* ==== Wego ==== */
header.wego-header {
	height: 566px;
	background: #764673 url(https://raw.githubusercontent.com/jlitchfield/jlitchfield.github.io/update/images/wego-header.png) bottom center no-repeat;
	background-size: 881px 422px;
}

.before {
	height: 816px;
	padding-top: 152px;
	background: #dedede url(https://raw.githubusercontent.com/jlitchfield/jlitchfield.github.io/update/images/wego-before.png) bottom right no-repeat;
	background-size: 494px 772px;
}

.after {
	height: 883px;
	padding-top: 102px;
	background: #78a8cd url(https://raw.githubusercontent.com/jlitchfield/jlitchfield.github.io/master/images/wego-after.png) bottom right no-repeat;
	background-size: 494px 842px;
}

.before article, .after article {
	padding-left: 20px;
}

.before article ul li, .after article ul li {
	padding-bottom: 0;
}

.scroll {
	color: #fff;
}

.scroll img {
	margin-right: 5px;
}

.contrast {
	padding: 60px 0;
}

/* ==== Solstice ==== */
header.solstice-header {
	height: 536px;
	background: #764673 url(https://raw.githubusercontent.com/jlitchfield/jlitchfield.github.io/update/images/wego-header.png) bottom center no-repeat;
	background-size: 881px 422px;
}

header.solstice-header {
	height: 536px;
	background: #ef3e36 url(https://raw.githubusercontent.com/jlitchfield/jlitchfield.github.io/master/images/solstice-header.png) bottom right no-repeat;
	background-size: 480px 442px;
}

header.solstice-header .grid-6 { padding: 75px 45px 0 0; }
header.solstice-header h2 { text-align: left; }

.account {
	height: 786px;
	padding-top: 60px;
	background: #f6e766 url(https://raw.githubusercontent.com/jlitchfield/jlitchfield.github.io/master/images/solstice-create-account.png) bottom center no-repeat;
	background-size: 973px 583px;
}

.news-feed {
	height: 637px;
	padding-top: 440px;
	padding-left: 140px;
	background: #f9f9f9 url(https://raw.githubusercontent.com/jlitchfield/jlitchfield.github.io/master/images/solstice-newsfeed.png) center center no-repeat;
	background-size: 705px 637px;
}

.badge {
	height: 637px;
	padding-top: 84px;
	background: #fff url(https://raw.githubusercontent.com/jlitchfield/jlitchfield.github.io/master/images/solstice-badge.png) center center no-repeat;
	background-size: 980px 637px;
}

.dashboard {
	height: 637px;
	padding-top: 185px;
	background: #fff url(https://raw.githubusercontent.com/jlitchfield/jlitchfield.github.io/master/images/solstice-dashboard.png) center center no-repeat;
	background-size: 980px 637px;
}

.dashboard h3, .dashboard p { color: #fff; }

.orb {
	height: 409px;
	padding-top: 100px;
	background: #fff url(https://raw.githubusercontent.com/jlitchfield/jlitchfield.github.io/master/images/solstice-orb.png) center center no-repeat;
	background-size: 980px 409px;
}

.orb p {
	padding-bottom: 12px;
}

.orb p.courtesy {
	font-size: 12px;
	padding-top: 0;
	color: #5e696d;
}
