/* Global Styles */

#rule {
	width: 100%;
	height: 9px;
	background-color: #333;	
}

body {
	background: gray url("..http://joshualitchfield.com/legacy-portfolio/images/bg-texture.jpg");
	
}
body #wrapper {
	width: 1024px;
	background: #gray url("..http://joshualitchfield.com/legacy-portfolio/images/bg-texture.jpg");
	margin: 0 auto;

}

h1, h2, h3, h4, h5, h6, span, p, a {
	font-family: "Esfera NF", Helvetica, sans-serif;
	color: #333;
}

h1 {
	font-size: 32px;
	line-height: 42px;
}

h2 {
	font-size: 18px;
	line-height: 22px;
}

h3 {
	font-size: 14px;
	line-height: 18px;
}

h4 {
	font-size: 12px;
	line-height: 14px;
}

p {
	font-size: 13px;
	line-height: 18px;
	padding-bottom: 12px;
}

a {
	text-decoration: none;
	color: #f60;
	font-size: 13px;
}

/* Nav Styles */

#logo {
	width: 230px; height: 49px;
	float: left;
	margin-bottom: 15px;
	margin-left: 100px;
	
}

#logo span a {
	font-size: 18px;	
	color: whitesmoke;
	display: block;
	background-color: #3abebe;
	padding: 17px 0 10px;
	text-align: center;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009999', endColorstr='#3abebe');
	background: -webkit-gradient(linear, left top, left bottom, from(#009999), to(#3abebe));
	background: -moz-linear-gradient(top,  #009999,  #3abebe);
	border-bottom: none;
}

nav ul {
	display: inline;
}

nav ul li {
	padding: 18px 0;
	float: left;
}

nav ul li a {
	font-size: 13px;
	margin-left: 54px;
	color: #300;
}

nav ul li a:hover {
	border-bottom: 3px solid #d7501c;
}


/* Attention Styles */

#attention {
	clear: both;
	width: 828px;
	margin: 0 auto;
}

#attention p {
	font-size: 32px;
	line-height: 36px;
	text-align: center;
	margin: 0 0 20px 0;
}

#attention p span {
	font-weight: bold;
	padding-bottom: 3px;
	border-bottom: 5px solid #d7501c;
}

/* Main Styles */

article {
	width: 840px;
	min-height: 350px;
	max-height: 680px;
	padding: 0 15px;
	overflow: auto;
	margin: 0 auto;
}

article h3 {
	letter-spacing: 1px;
	width: 221px;
	border-bottom: 2px solid #d7501c;
	padding: 3px 5px 1px;
	margin: 0 4px 18px;
}

article section ul li {
	display: inline;
	list-style-type: none;
}

article a img {
	margin: 0 53px 30px 4px;
	border: 8px solid #fff;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 6px #888;
}

article a img:visited { border: 8px solid #ccc; }

article a img:hover {	border: 8px solid #d7501c; }

article a img:active { border: 8px solid #d7501c; }

article a img.last {
	margin-right: 4px;
}

article section {
	margin-bottom: 20px;
	
}

/* Footer Global Styles */

footer {
	background: #ee4a0d;
	width: 877px;
	margin: 0 auto;
	padding-left: 47px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	-moz-box-shadow: 0 0 7px #000;
	-webkit-box-shadow: 0 0 7px #000;
	box-shadow: 0 0 7px #000;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee4a0d', endColorstr='#c10000');
	background: -webkit-gradient(linear, left top, left bottom, from(#ee4a0d), to(#c10000));
	background: -moz-linear-gradient(top,  #ee4a0d,  #c10000);
}

footer h3 {
	width: 170px;
	border-bottom: 2px solid whitesmoke;
	padding: 3px 5px 1px;
	margin: 0 4px 21px;
	color: whitesmoke;
}
	
footer ul li {
	font-family: "Esfera NF", Helvetica, sans-serif;
	margin: 0 4px 6px;
	line-height: 18px;
}

footer ul li img {
	display: none;
}
footer ul li a {
	font-size: 12px;
	display: block;
	color: whitesmoke;
}

footer a:hover {
	border-bottom: none;
	color: black;
}

/* Footer Column Styles */

footer .footer-column {
	padding: 18px 0 0 0;
	width: 170px;
	padding-right: 20px;
	float: left;
	margin-right: 24px;
}

/* Copyright Styles */

#copyright {
	clear: both;
	width: 100%;
	background-color: #333;

}

#copyright p {
	text-align: center;
	color: whitesmoke;
	padding: 11px 0;
}

#copyright p, footer #copyright a {
	font-size: 13px;
}

/* Sticky-Footer */

html, body {height: 100%;}
#wrapper {min-height: 100%;}

#main {
	overflow:auto;
	padding-bottom: 165px; /* must be same height as the footer */
}  

footer {
	position: relative;
	margin-top: -165px; /* negative value of footer height */
	height: 165px;
	clear:both;

} 

/*Sticky-Footer Opera Fix*/
body:before {
content:"";
float:left;
width:0;
margin-top:-32767px;
height: 100px;
}
