<section class="section bio hero is-medium">
  <div class="container">
    <div class="columns is-vcentered padding--large">
      <div class="column is-offset-1 is-3">
        <img src="/images/joshua-litchfield-product-designer-boston@2x.png" alt="Joshua Litchfield Product Designer Boston">
      </div>
      <div class="column is-offset-1 is-5">
        <article>
            <h2 class="no-margin-bottom">Joshua Litchfield</h3>
            <span class="project-type dash-trailing">Senior Product Designer <mark>Team Lead</mark></span>
            <p>I strive to work in environments that focus on inclusivity, integrity, continuous learning and improvement where outcomes, not features, are the focus.</p>
            <p><strong>Want to get to know me better?</strong> Check out my about page to learn to view a user guide to me, see what I'm reading, and check out some of my personality traits.</p>
            <a class="btn" href="/pages/about">Get to Know Joshua</a>
        </article>
      </div>
    </div>
  </div>
</section>