<section class="bio section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-5">
        <img src="/images/joshua-litchfield-product-designer-boston@2x.png" alt="Joshua Litchfield Product Designer Boston">
      </div>
      <div class="column is-6">
        <article>
          <h2 class="no-margin-bottom">Joshua Litchfield</h2>
          <span class="dash-trailing">Experienced Product Designer | Design System Specialist</span>
          <p>As a Design Systems Designer, I lead process, component, and backlog management to ensure cohesive, high-quality product experiences. My expertise in creating and maintaining design systems streamlines workflows, enhances consistency, and drives innovation. By collaborating with cross-functional teams, I ensure alignment and efficiency. My commitment to user-centered design delivers impactful solutions that meet our users' needs.</p>
          <p><strong>Want to get to know me better?</strong> Check out my about page to learn to view a user guide to me, see what I'm reading, and check out some of my personality traits.</p>
          <a class="btn--secondary" href="/pages/about">Get to know Joshua</a>
        </article>
      </div><!-- end column -->
    </div><!-- end columns -->
  </div><!-- end container -->
</section>