<section class="skills section is-fullwidth bg--contrast">
  <div class="container">
    <div class="columns offset-header is-vcentered padding--large">
      <div class="column is-6">
        <img class="box-shadow" src="/images/skills.png" alt="My Skills Database">
      </div>
      <div class="column is-offset-1 is-5">
        <article>
            <h3 class="dash-trailing">How I skill up with continuous learning</h3>
            <p>Digital Product Design is a dynamic and evolving field encompassing various disciplines, and continuous learning is crucial for success. Explore the framework I've adopted to do just that.</p>
            <a class="btn--secondary" href="https://joshua-litchfield.medium.com/a-tactical-approach-to-a-well-rounded-ux-skillset-using-notion-50e87d4c4169" target="_blank">Read Medium article</a>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="thinker section is-fullwidth">
  <div class="container">
    <div class="columns is-vcentered padding--large">
      <div class="column is-5">
        <article>
            <h3 class="no-margin-bottom">The thinker</h3>
            <span class="project-type dash-trailing">Personality Traits</span>
            <p>For the Thinker, the examined life is truly the only one worth living. Ever <strong>the perpetual student</strong>, I experience the world as an endless opportunity for learning, discovery, and truth-seeking.</p>
            <a class="btn--secondary" href="https://mycreativetype.com/type/thinker/" target="_blank">Read full details</a>
        </article>
      </div>
      <div class="column is-offset-1 is-6">
        <img class="photo box-shadow" src="/images/thinker.jpg" alt="Cute Dog Thinking">
        <cite class="type--small">Photo by <a href="https://unsplash.com/@talabcsab?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Csaba Talaber</a> on <a href="https://unsplash.com/s/photos/thinker?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></cite>
      </div>
    </div>
  </div>
</section>

<section class="planner section is-fullwidth bg--contrast">
  <div class="container">
    <div class="columns is-vcentered padding--large">
      <div class="column is-6">
        <img class="photo box-shadow" src="/images/planner.jpg" alt="Design Plan">
        <cite class="type--small">Photo by <a href="https://unsplash.com/@epicantus?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Daria Nepriakhina</a> on <a href="https://unsplash.com/s/photos/design-planner?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></cite>
      </div>
      <div class="column is-offset-1 is-5">
        <article>
            <h3 class="no-margin-bottom">The planner</h3>
            <span class="project-type dash-trailing">Personality Traits</span>
            <p>When the details are still fuzzy, I'm great at making a plan that people can understand and implement. Without getting too close to a final solution, I'm able to set boundaries for a project so everyone on the team knows what to do and can pull them in the same direction.</p>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="green section is-fullwidth">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-offset-3 is-6">
        <article>
            <h3 class="no-margin-bottom">My designer color is green</h3>
            <span class="project-type dash-trailing">peaceful, serene, accommodating</span>
            <p>As a Green, I am known for my chill vibes, and my body is rarely consumed with anxiety. Chores, work, and even exercise is easier when I am well rested and relaxed. My life is centered around achieving maximum comfort.</p>
            <a class="btn--primary" href="https://thecolorofmypersonality.com/mycolorresult/?color=green" target="_blank">Read full details</a>
        </article>
      </div>
    </div>
  </div>
</section>