<section class="user-guide">
    <h4>A User Guide to Working with Joshua</h4>
    <p>Get a sense of how I view success, communicate, and learn more about my strong points and weaknesses. Also, check out what I'm learning to be the best me possible!</p>
    <p>Many thanks to <a target="_blank" href="https://lg.substack.com/p/the-looking-glass-a-user-guide-to">Julie Zhuo</a> for the inspiration.</p>
    <a class="btn--outline" href="joshua-litchfield-user-guide.html">View User Guide</a>
</section>