<head>
		<meta charset="utf-8">
		<meta name="author" content="Time & Tide">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ page.title }}</title>
		<link href="https://fonts.googleapis.com/css?family=Bitter:400,700|Muli:400,400i,900" rel="stylesheet">
		<link rel="stylesheet" media="screen" href="/css/style.css">
		<!-- TODO: Icons -->
		<script
		  src="https://code.jquery.com/jquery-3.2.1.js"
		  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
		  crossorigin="anonymous"></script>
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<style type="text/css">
			.clear {
			zoom: 1;
			display: block;
			}
			</style>
		<![endif]-->
	</head>