<head>
	<meta charset="utf-8">
	<meta name="author" content="Joshua Litchfield">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
	<!-- <link href="https://fonts.googleapis.com/css?family=Zilla+Slab:400,500,700|Nunito:300,400,500,700,900" rel="stylesheet"> -->
	<!-- Replaced old Google Fonts (above) with new ones (below) on 10/15/23 -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;900&family=Zilla+Slab:wght@400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" media="screen" href="/css/style.css">
	<script
	  src="https://code.jquery.com/jquery-3.2.1.js"
	  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
	  crossorigin="anonymous"></script>
</head>