<!-- <section class="section int-ds-hero offset-header is-fullwidth">
  <div class="container">
    <div class="columns is-gapless">
      <div class="column">
        <h2 class="no-margin-bottom">Integrate Design System Leadership</h2>
        <p class="type--large">A focus on community and communication</p>
        <img src="/images/int-ds-components-dk.png" alt="Intetgrate design system components">
      </div>
    </div>
  </div>
</section> -->

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>The Business Problem</h2>
        <p>Taking into consideration the outcomes we’d like to achieve.</p>
      </div> <!-- end column -->
      <div class="column is-offset-1 is-7">
        <article>
          <h5 class="no-margin-bottom">From three codebases to one</h5>
          <p class="no-margin-bottom"><strong>The Integrate product existed as three separate codebases within a single session.</strong></p>
          <p>With the unification of product experiences in Platform 3.0, we need a streamlined navigation system that aligns more effectively with user workflows, eliminates redundancies, and adapts to the upcoming permissions and product features.</p>
          <p>This enhanced navigation will better serve our customers by simplifying access to tools, accommodating new access control models, and improving overall usability. Ultimately, the new system will cater to critical user roles, making users more efficient and enhancing their experience—helping to reduce churn.</p>
        </article>
      </div> <!-- end column -->  
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section> <!-- end business problem -->

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>Paint points and gaps</h2>
        <p>How might we remove friction and confusion?</p>
      </div> <!-- end column -->
      <div class="column is-offset-1 is-7">
        <article>
          <h5 class="no-margin-bottom">Lack of ownership</h5>
          <p>Without a central authority, product managers often placed new functionality in their product area, resulting in scattered and inconsistent organization.</p>
        </article>

        <article>
          <h5 class="no-margin-bottom">Buried critical functionality</h5>
          <p>Essential features were deeply hidden within the product, leading to decreased utilization.</p>
        </article>      

        <article>
          <h5 class="no-margin-bottom">Undiscoverable functionality</h5>
          <p>Features were buried deep within various navigation types, such as primary navigation → table → detail view → local navigation.</p>
        </article>

        <article>
          <h5 class="no-margin-bottom">Incomprehensible visual design</h5>
          <p>Several features used tabs as a stepped process or a "poor man's wizard," causing users to encounter multiple errors if they didn't complete each tab correctly.</p>
        </article>

        <article>
          <h5 class="no-margin-bottom">Non-standard jargon</h5>
          <p>Integrate used made-up jargon that wasn't industry standard, reducing comprehension and making content difficult to find.</p>
        </article>

        <article>
          <h5 class="no-margin-bottom">Tabs as create flows</h5>
          <p>Users are shown a tabbed interface as create flows wherein the red tabs have something that needs to be completed.</p>
        </article>
      </div> <!-- end column -->  
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section> <!-- end pain points and gaps -->

<section class="section desk-research">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>Desk research</h2>
        <p>Design considerations that considers app footprint, user needs, and future state</p>
      </div> <!-- end column -->
      <div class="column is-offset-1 is-7">
        <article class="ds-principles">
          <div class="ds-principle">
            <h5>Enhance the productivity and efficiency for all</h5>
            <p>A well-designed navigation will help both  people complete their task quickly so that they can move onto something else. People should be able to quickly scan the navigation and understand which links are primary, secondary, and tertiary navigation items.</p>
          </div>
        </article>
        <article class="ds-principles">
          <div class="ds-principle">
            <h5>Make it consumable</h5>
            <p>Make it easy for users to understand, engage with, and derive value from. This involves several key elements that enhance usability, accessibility, and user satisfaction.</p>
            <p><strong>Clear Navigation:</strong> Users should be able to easily find their way through the product. Use common design patterns and logical flows.</p>
          </div>
        </article>
        <article class="ds-principles">
          <div class="ds-principle">
            <h5>Align navigation and copy with user goals</h5>
            <p>Avoid technical jargon, which risks diminishing conversion and overall product adoption rates, due to clunky usability. Well-thought-out copy will empower users to see the actual value of Integrate, improve engagement, and reduce churn rates.</p>
          </div>
        </article>
        <article class="ds-principles">
          <div class="ds-principle">
            <h5>Use unique visual design to establish hierarchy</h5>
            <ul>
              <li>Ensure that users can quickly scan the navigation to understand link hierarchy.</li>
              <li>Use distinct visual designs to differentiate between primary, secondary, and tertiary navigation items.</li>
              <li>Proper placement and grouping of links should clearly establish this hierarchy.</li>
            </ul>
          </div>
        </article>
        <article class="ds-principles">
          <div class="ds-principle">
            <h5>Consider footprint</h5>
            <p>While horizontal navigation is considered the most intuitive, consider vertical primary navigation for large, content-rich products. This allows for scrolling and efficient content access. Combine with horizontal navigation for limited secondary navigation needs and/or complex information architecture.</p>
          </div>
        </article>
        <article class="ds-principles">
          <div class="ds-principle">
            <h5>Add local navigation for related content</h5>
            <p>Prevent users from having to "pogo stick" up and down the hierarchy when frequently accessing related sections or completing multiple tasks within a single section.</p>
          </div>
        </article>
        <article class="ds-principles">
          <div class="ds-principle">
            <h5>Use location indicators</h5>
            <p>Engineers need to spend less time waiting for “the design phase” to end to start building. Designers need to create fewer static comps. Restricting these wasteful activities frees up more time to do many more valuable things.</p>
          </div>
        </article>
        <article class="ds-principles">
          <div class="ds-principle">
            <h5>Document as you design</h5>
            <p>Users should know where they are and where they came from. Help users orient themselves, especially when they are deep within the app.</p>
          </div>
        </article>
      </div> <!-- end column -->  
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section> <!-- end desk research -->

<section class="section footer-nav is-fullwidth">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <a href="/pages/vela">  
          <h4 class="no-margin-bottom">Vela Patient Panel update</h4>
          <span class="project-type">In house design</span>
          <span class="btn--primary">View case study</span>
        </a>
      </div>

      <div class="column last">
        <a href="https://www.figma.com/proto/rEuoSvc1ald5QoZg9dAkNB/Integrate-Navigation-Case-Study?page-id=0%3A1&node-id=4502-9558&viewport=685%2C99%2C0.25&t=ycV4r9f91uF65wru-1&scaling=scale-down-width&content-scaling=fixed&starting-point-node-id=4502%3A9558" target="_blank">  
          <h4 class="no-margin-bottom">Integrate navigation redesign</h4>
          <span class="project-type">In house design</span>
          <span class="btn--primary">View case study</span>
        </a>
      </div>
      
    </div>
  </div>
</section>

