<section class="section int-ds-hero is-fullwidth offset-header">
  <div class="container">
    <div class="columns is-gapless">
      <div class="column">
        <h2 class="no-margin-bottom">Integrate Design System</h2>
        <p class="type--large">A focus on community and communication</p>
        <img src="/images/int-ds-components-outlines.svg" alt="Intetgrate design system components">
      </div>
    </div>
  </div>
</section>

<section class="section is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>Overview</h2>
      </div> <!-- end column -->
      <div class="column is-8">
        <article>
          <h4>Integrate Design System: focused on community and communication</h4>
          <p>Through a couple of acquisitions, use of various libraries, and some false starts the Integrate app was a fragmented user experience and badly needed to fresh start. A principled design system with leadership continuity would mean that customers would have a consistent and coherent user experience.</p>
          <p>Additionally, design principles drives better communication and decision making. Planning along with streamlined design and development workflows boosts overall productivity that results in delivering functionality to end customers faster, giving Integrate an edge over its competitors.</p>
        </article>
      </div> <!-- end column -->  
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section>


<section class="section is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>Overview</h2>
      </div> <!-- end column -->
      <div class="column is-8">
        <article>
          <h4>My Role</h4>
          <p>Lead Product Designer and Product Manager</p>
          <h4>Team</h4>
          <p>Product Designers, Front-End Development team, Feature teams</p>
          <h4>Tools</h4>
          <p>Figma, Storybook, Maze, EightShapes, Design Lint</p>
          <h4>Deliverables</h4>
          <p>Strategy, process, management, research, governance, components, support, user testing</p>
          
        </article>
      </div> <!-- end column -->  
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section>

<section class="section is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>The Business Problem</h2>
      </div> <!-- end column -->
      <div class="column is-8">
        <article>
          <h4>From siloed teams to open communication</h4>
          <p>Our remote team operates across multiple time zones, and communication gaps previously led to duplicative components, increased design and development time, delays, and missed goals. By adhering to our operating principle of "People over components," we've reduced misunderstandings, minimized duplicative components, and fostered productive collaboration.</p>
          <h4>From inconsistency to coherent product experiences</h4>
          <p>Teams have been creating inconsistent designs leading to a fragmented user experience. The design system provides a single source of truth and standards ensuring consistency across all product areas.</p>
          <h4>Building accessible product experiences from the start </h4>
          <p>Development teams often forego building accessible experiences in favor of speed of delivery. With accessibility baked into the components, teams comply with accessibility standards without having to change anything.</p>
          <h4>From undocumented components to design guidelines and standards</h4>
          <p>Before, the design system existed as a component library, at best. Working with developers and designers, we created a documentation template that provides design guidelines, decision trees for when to use which component, and more to allow teams to self-serve.</p>
          <h4>From Inefficient workflows to delivering features rapidly</h4>
          <p>Before designers and developers spent excessive time recreating the same functionality, often with minor differences to the detriment of customers. Reusable components means significantly less time and effort to design and develop new features.</p>
        </article>
      </div> <!-- end column -->  
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section>

<section class="section is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>The Solution</h2>
      </div> <!-- end column -->
      <div class="column is-8">
        <article>
          <h4>Design system operating principles</h4>
          <p>I facilitated workshops to establish design system operating principles prioritizing community and use cases over "snowflakes."</p>
          <p><strong>Outcome and impact:</strong> This approach led to less rework, streamlined decision-making, greater team alignment, and consistent product experiences.</p>
        </article>
        <article class="ds-principles">
          <!-- <h4>Design System Operating Principles</h4> -->
          <div class="ds-principle">
            <h5>People over components</h5>
            <p>Components don’t solve the complex problems that help our users. People do. If your design systems team is not building relationships with the folks using the system, then you can’t ensure that your components and tooling are solving their needs.</p>
          </div>
          <div class="ds-principle">
            <h5>Stay focused</h5>
            <p>Ensure that we adhere to the roadmap, but allow for some ad-hoc requests that doesn’t distract us too much from our goals.</p>
          </div>
          <div class="ds-principle">
            <h5>Prioritize the mundane</h5>
            <p>Design systems are containers for institutional knowledge. Identify the design problems teams confront over and over again. The more common the problem the better. Design systems should prioritize the mundane.</p>
            <p>If you look at the stuff that a design system consists of that comes out of the piloting process, it’s all the boring stuff, the elements you don’t ever want to be making over and over again: paragraphs, check boxes, radio buttons, alerts buttons. <a href="https://bigmedium.com/ideas/boring-design-systems.html" target="_blank">See source</a>.</p>
          </div>
          <div class="ds-principle">
            <h5>Allow for luck: frameworks over processes</h5>
            <p>Where processes don’t do well, as luck is involved, frameworks are a handy tool instead. A framework gives us a supporting structure that luck can flow through.</p>
          </div>
          <div class="ds-principle">
            <h5>Use cases over the abstract</h5>
            <p>Stop trying to make a design system by making abstract components. Instead, give your team a use case. <strong>New components ought to be tied to a verified at least 3 use cases.</strong> </p>
            <p>When design system work is done in a vacuum and a design system team doesn’t have specific use cases, their strategy seems to be something akin to “let’s provide as many elements as product teams might need at any point,” leading to bloated design systems.</p>
          </div>
          <div class="ds-principle">
            <h5>Allow for innovation by following the Pareto principle</h5>
            <p>Use the Pareto principle—often known as the “80/20 rule”—to set an actionable target for teams: aim for up to 80% of any given page to be made of design system components and leave room for about 20% of the page to be custom. <strong>That remaining 20% is where the invention and innovation can happen.</strong></p>
            <blockquote>Some organizations seem to strive for an ideal that, once a design system exists, everything in an interface can and should be built with it. Not only is that an unrealistic goal for most enterprises, but it can often be a toxic mindset to think that anything less than 100% coverage is a misuse of a design system at best or an utter failure at worst.</blockquote>
            <ul>
              <li><strong>Effect:</strong> Designers are happier and, more importantly, and are capable to solve user needs.</li>
              <li><strong>Measure of success:</strong> 80% design system coverage percentage of a page.</li>
            </ul>
            <span><a href="https://rosenfeldmedia.com/books/design-that-scales/" target="_blank">See source</a>.</span>
          </div>
          <div class="ds-principle">
            <h5>Embrace the Hot Potato process</h5>
            <p>Engineers need to spend less time waiting for “the design phase” to end to start building. Designers need to create fewer static comps. Restricting these wasteful activities frees up more time to do many more valuable things.</p>
          </div>
          <div class="ds-principle">
            <h5>Document as you design</h5>
            <p>Every good design system has guidelines, suggestions or rules to follow for how to best use any given design system. Good guidelines tell you what and what not to do. Design system guidelines often take the form of principles or user experience best practices.</p>
            <p><strong>The best guidelines</strong> help designers and engineers at the point in their work where they need it, often called "just-in-time" documentation.</p>
          </div>
        </article>
        
        <article>
          <h4>Governance: a contribution framework for determining if, when, and who should build components</h4>
          <p>The framework was built after researching several excellent examples from the Web, then layering Integrate’s process along with a new intake process. The design system governance framework outlines design system entry criteria, process for requesting components (or build snowflakes) to foster collaborative efforts to help manage and evolve the design system over time. The primary goal is to streamline communication and collaboration. Finally, we documented who is the decision-maker, depending on the use case for incoming requests.</p>
          <p><strong>Outcome and impact:</strong> We’ve seen improved team communication, reduced instances of duplicate components.</p>
          <!-- <img src="/images/int-ds-gov-flow.svg" alt="Integrate Design System roadmap"> -->
          <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fdesign%2F2gsSwaNuNtdj9U5HFPAv4V%2FIntegrate-DS-Governance%3Fnode-id%3D0-1%26t%3DBoOXoLeGsPrVIhw7-1" allowfullscreen></iframe>
          <p>Click the expand button to see the image full size.</p>
        </article>

        <article>
          <h4>Self-serve service desk and intake process</h4>
          <p>Implementation teams often recognized that something should be a component but didn't know how to request one, leading to numerous repeated one-on-one conversations in Slack. Additionally, prioritizing the many questions and requests according to need was challenging.</p>
          <p>To address this, we built a new Atlassian self-serve service desk and intake process to track system requests. We incorporated triage into our daily standup to discuss bugs and prioritize new requests, then communicated decisions back to the organization.</p>
          <p><strong>Outcome and impact:</strong> better data to properly prioritize the design system backlog.</p>
          <img src="/images/int-ds-backlog@2x.png" alt="Integrate Design System roadmap">
        </article>

        <article>
          <h4>Open forum for questions</h4>
          <p>We also established company-wide Slack channels for the design system and snowflake components, providing a centralized location for team members to ask questions. Frequently asked questions are documented in a Confluence FAQ for easy reference.</p>
          <p><strong>Outcome and impact:</strong> less 1:1 one-off conversations and more people contributing to design system questions; everyone has a much better idea of incoming requests.</p>
        </article>

        <article>
          <h4>Communicating releases</h4>
          <p>I asked the design system implementation team if they’d be open to creating quick demos that were two minutes or less for each new component and to share it out on all of our communication channels. They agreed and as a result, we’ve seen lots of comments and reactions to the videos.</p>
          <p>Additionally, we’ve also created a Slack channel with an integration that posts whenever there’s a new Storybook release.</p>
          <p><strong>Outcome and impact:</strong> implementation teams know not only when new components are available, but have digestible videos of the specific component they're implementing.</p>
        </article>

        <article>
          <h4>Backlog and roadmap</h4>
          <p>Service desk tickets have enabled us to efficiently track multiple requests for the same components within a release cycle, create a prioritized backlog, and develop a roadmap that is in sync with all product roadmaps to build components aligned with the company's strategic priorities, enabling implementation teams to deliver features at scale.</p>
          <p><strong>Outcome and impact:</strong> we're able to deliver components that provide the highest business value and outcomes for customers with less bias.</p>
          <img src="/images/int-ds-backlog@2x.png" alt="Integrate Design System roadmap">
        </article>

        <article>
          <h4>Documentation: a single source of truth</h4>
          <p>I collaborated with our development team to create a design system documentation template that provides self-serve design guidelines and specifications. As a result, we have seen improved team efficiency, alignment, adherence to design standards, and a higher-quality user experience.</p>
          <p><strong>Outcome and impact:</strong> design system leadership is fielding a lot less questions and we've identified how we can improve the documenation.</p>
        </article>

        <article>
          <h4>Figma training</h4>
          <p>Given the small size of our design team, we operate under a federated team model where all designers research and build new components. However, not all designers have experience with design system work, which requires a systems mindset and the skills to create Figma components closely aligned with their coded counterparts.</p>
          <p>To address this, I drove a series of training sessions that up-skilled designers in design system and Figma best practices that resulted in standardized component architectures and a streamlined designer/developer workflow experience.</p>
          <p><strong>Outcome and impact:</strong> designers are learning new skills and becoming more systems minded. As a result, their feature has been higher quality with less revisions.</p>
        </article>

        <article>
          <h4>Building components</h4>
          <p>Integrate recently made a couple of company acquisitions, resulting in multiple codebases. This led to several false starts with the design system, creating multiple versions of several components. To stay competitive in the market, we consult with product and engineering teams when redesigning both old and new components.</p>
          <p>A robust design process is essential for consistency and competitiveness. Here’s an example of our typical design process, largely inspired by the great <a href="redesigning design systems" target="_blank"></a> site.</p>
          <p><strong>Outcome and impact:</strong> teams are starting to row in the same direction and we're building a consistent and coherent product experience.</p>
          <img src="/images/int-ds-process@2x.png" alt="Integrate Design System process">
        </article>

      </div> <!-- end column -->  
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section>

<section class="section is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>Before & After</h2>
      </div> <!-- end column -->
      <div class="column is-8">
        <article>
          <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FOI8Y9WET9NFwYBDMx66IFk%2FIntegrate-Design-System%253A-Before-and-After%3Fpage-id%3D1%253A16044%26node-id%3D1-16626%26viewport%3D607%252C358%252C0.36%26t%3DqmlNNtkh163cLUyY-1%26scaling%3Dscale-down%26content-scaling%3Dfixed%26starting-point-node-id%3D1%253A16626" allowfullscreen></iframe>
          <p>Click the expand button to see the image full size.</p>
        </article>
      </div> <!-- end column -->  
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section>