<section class="section int-ds-hero offset-header is-fullwidth">
  <div class="container">
    <div class="columns is-gapless">
      <div class="column">
        <h2 class="no-margin-bottom">Integrate Design System Leadership</h2>
        <p class="type--large">A focus on community and communication</p>
        <img src="/images/int-ds-components-dk.png" alt="Intetgrate design system components">
      </div>
    </div>
  </div>
</section>

<section class="section is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>Background</h2>
      </div> <!-- end column -->
      <div class="column is-8">
        <article>
          <h4>Integrate Design System: focused on community and communication</h4>
          <p>Through a couple of acquisitions, use of various libraries, and some false starts the Integrate app was a fragmented user experience and badly needed to fresh start.</p>
          <p>We have multiple versions of the design system, each with multiple versions of the same component in some cases, and nothing was documented.</p>
        </article>
      </div> <!-- end column -->  
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section>


<section class="section is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>Overview</h2>
      </div> <!-- end column -->
      <div class="column is-4">
        <article>
          <h4>My role</h4>
          <p>Lead Product Designer<br>Product Manager</p>
          <h4>Tools</h4>
          <p>Figma, Storybook, EightShapes, Design Lint</p>
        </article>
      </div> <!-- end column 4 -->
    <div class="column is-4">
      <article>
        <h4>Team</h4>
        <p>Product designers, front-end development team, product managers, feature teams</p>
        <h4>Deliverables</h4>
        <p>Strategy, process, management, research, governance, components, support, user testing</p>
      </article>
    </div>
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section>

<section class="section is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>The Business Problem</h2>
      </div> <!-- end column -->
      <div class="column is-8">
        <article>
          <h4>From siloed teams to open communication</h4>
          <p class="margin-bottom--small"><strong>Communication gaps previously led to duplicative components, increased design and development time, delays, and missed goals.</strong></p>
          <p>By adhering to our operating principle of "people over components," we've reduced misunderstandings, minimized duplicative components, and fostered productive collaboration.</p>
        </article>
          
        <article>
          <h4>From inconsistency to coherent product experiences</h4>
          <p class="margin-bottom--small"><strong>Teams have been creating inconsistent designs leading to a fragmented user experience.</strong></p>
          <p>The design system provides a single source of truth and standards ensuring consistency across all product areas.</p>
        </article>

        <article>
          <h4>Building accessible product experiences from the start </h4>
          <p class="margin-bottom--small"><strong>Development teams often forego building accessible experiences in favor of fast delivery.</strong></p>
            <p>With accessibility baked into the components, teams comply with accessibility standards without having to change anything.</p>
        </article>

        <article>
          <h4>From undocumented components to design guidelines and standards</h4>
          <p class="margin-bottom--small"><strong>Before, the design system existed as a component library, at best.</strong></p>
          <p>Working with developers and designers, we created a self-serve documentation template that provides design guidelines, decision trees for when to use which component.</p>
        </article>
        
        <article>
          <h4>From Inefficient workflows to delivering features rapidly</h4>
          <p class="margin-bottom--small"><strong>Before designers and developers spent excessive time recreating the same functionality, often with minor differences to the detriment of customers.</strong></p> 
          <p>Reusable components means significantly less time and effort to design and develop new features.</p>
        </article>
      </div> <!-- end column -->  
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section>

<section class="section is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>The Solution</h2>
      </div> <!-- end column -->
      <div class="column is-8">
        <article>
          <h4>Design system operating principles</h4>
          <p>I facilitated workshops to establish design system operating principles prioritizing community and use cases over "snowflakes."</p>
          <p><strong>Outcome and impact:</strong> This approach led to less rework, streamlined decision-making, greater team alignment, and consistent product experiences.</p>
        </article>
        <article class="ds-principles">
          <div class="ds-principle">
            <h5>People over components</h5>
            <p>Components don’t solve the complex problems that help our users. People do. If your design systems team is not building relationships with the folks using the system, then you can’t ensure that your components and tooling are solving their needs.</p>
          </div>
          <div class="ds-principle">
            <h5>Stay focused</h5>
            <p>Ensure that we adhere to the roadmap, but allow for some ad-hoc requests that doesn’t distract us too much from our goals.</p>
          </div>
          <div class="ds-principle">
            <h5>Prioritize the mundane</h5>
            <p>Design systems are containers for institutional knowledge. Identify the design problems teams confront over and over again. The more common the problem the better. Design systems should prioritize the mundane.</p>
            <p>If you look at the stuff that a design system consists of that comes out of the piloting process, it’s all the boring stuff, the elements you don’t ever want to be making over and over again: paragraphs, check boxes, radio buttons, alerts buttons. <a href="https://bigmedium.com/ideas/boring-design-systems.html" target="_blank">See source</a>.</p>
          </div>
          <div class="ds-principle">
            <h5>Allow for luck: frameworks over processes</h5>
            <p>Where processes don’t do well, as luck is involved, frameworks are a handy tool instead. A framework gives us a supporting structure that luck can flow through.</p>
          </div>
          
          <div class="ds-principle">
            <h5>Innovate using the Pareto Principle</h5>
            <p>Use the Pareto principle—often known as the “80/20 rule”—to set an actionable target for teams: aim for up to 80% of any given page to be made of design system components and leave room for about 20% of the page to be custom. <strong>That remaining 20% is where the invention and innovation can happen.</strong></p>
            <blockquote>Some organizations seem to strive for an ideal that, once a design system exists, everything in an interface can and should be built with it. Not only is that an unrealistic goal for most enterprises, but it can often be a toxic mindset to think that anything less than 100% coverage is a misuse of a design system at best or an utter failure at worst.</blockquote>
            <ul>
              <li><strong>Effect:</strong> Designers are happier and, more importantly, and are capable to solve user needs.</li>
              <li><strong>Measure of success:</strong> 80% design system coverage percentage of a page.</li>
            </ul>
            <span><a href="https://rosenfeldmedia.com/books/design-that-scales/" target="_blank">See source</a>.</span>
          </div>

          <div class="ds-principle">
            <h5>Use cases over the abstract</h5>
            <p>Stop trying to make a design system by making abstract components. Instead, give your team a use case. <strong>New components ought to be tied to a verified at least 3 use cases.</strong> </p>
            <p>When design system work is done in a vacuum and a design system team doesn’t have specific use cases, their strategy seems to be something akin to “let’s provide as many elements as product teams might need at any point,” leading to bloated design systems.</p>
          </div>
          
          <div class="ds-principle">
            <h5>Embrace the hot potato process</h5>
            <p>Engineers need to spend less time waiting for “the design phase” to end to start building. Designers need to create fewer static comps. Restricting these wasteful activities frees up more time to do many more valuable things.</p>
          </div>
          <div class="ds-principle">
            <h5>Document as you design</h5>
            <p>Every good design system has guidelines, suggestions or rules to follow for how to best use any given design system. Good guidelines tell you what and what not to do. Design system guidelines often take the form of principles or user experience best practices.</p>
            <p><strong>The best guidelines</strong> help designers and engineers at the point in their work where they need it, often called "just-in-time" documentation.</p>
          </div>
        </article>

        <article>
          <h4>Self-serve service desk and intake process</h4>
          <p class="no-margin-bottom"><strong>Gaps</strong></p>
          <p>Implementation teams often recognized that something should be a component but didn't know how to request one, leading to numerous repeated one-on-one conversations in Slack. Additionally, prioritizing the many questions and requests according to need was challenging.</p>
          <p class="no-margin-bottom"><strong>Solution</strong></p>
          <p>We built a new Atlassian self-serve service desk and intake process to track system requests. We incorporated triage into our daily standup to discuss bugs and prioritize new requests, then communicated decisions back to the organization.</p>
          <p class="no-margin-bottom"><strong>Outcome and impact</strong></p>
          <p>We now have better data to properly prioritize the design system backlog.</p>
          <img src="/images/int-ds-service-desk.png" alt="Integrate Design System roadmap">
        </article>

        <article>
          <h4>Open forum for questions</h4>
          <p class="no-margin-bottom"><strong>Communication Channels</strong></p>
          <p>We also established company-wide Slack channels for the design system and snowflake components, providing a centralized location for team members to ask questions. Frequently asked questions are documented in a Confluence FAQ for easy reference.</p>
          <p class="no-margin-bottom"><strong>Outcome and impact</strong></p>
          <p>We receive questions in an open forum over direct messages, which increases tribal knowledge. Also, we have a much better history log of conversations to feed FAQs and other documentation.</p>
        </article>

        <article>
          <h4>Governance: a contribution framework for determining if, when, and who should build components</h4>
          <p class="no-margin-bottom"><strong>How it works</strong></p>
          <p>The framework was built after researching several excellent examples from the Web, then layering Integrate’s process along with a new intake process. The design system governance framework outlines design system entry criteria, process for requesting components (or build snowflakes) to foster collaborative efforts to help manage and evolve the design system over time. The primary goal is to streamline communication and collaboration. Finally, we documented who is the decision-maker, depending on the use case for incoming requests.</p>
          <p class="no-margin-bottom"><strong>Outcome and impact</strong></p>
          <p>We’ve seen improved team communication, reduced instances of duplicate components.</p>
          <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fdesign%2F2gsSwaNuNtdj9U5HFPAv4V%2FIntegrate-DS-Governance%3Fnode-id%3D0-1%26t%3DBoOXoLeGsPrVIhw7-1" allowfullscreen></iframe>
          <p>Click the expand button to see the image full size.</p>
        </article>

        <article>
          <h4>Backlog and roadmap</h4>
          <p class="no-margin-bottom"><strong>Deliver at scale</strong></p>
          <p>Service desk tickets have enabled us to efficiently track multiple requests for the same components within a release cycle, create a prioritized backlog, and develop a roadmap that is in sync with all product roadmaps to build components aligned with the company's strategic priorities, enabling implementation teams to deliver features at scale.</p>
          
          <p class="no-margin-bottom"><strong>Outcome and impact</strong></p>
          <p>We deliver components that provide the highest business value and outcomes for customers with less bias.</p>
          <img src="/images/int-ds-backlog.png" alt="Integrate Design System roadmap">
        </article>

        <article>
          <h4>Designing components</h4>
          <img src="/images/int-ds-process.png" alt="Integrate Design System process" style="margin-bottom: 15px;">
          <p class="no-margin-bottom"><strong>Addressing skills gaps</strong></p>
          <p>We operate under a federated team model where all designers research and build new components. However, not all designers had experience building components, which requires a systems mindset and the skills to create Figma components closely aligned with their coded counterparts.</p>

          <p class="no-margin-bottom"><strong>Figma training</strong></p>
          <p>I drove a series of training sessions that up-skilled designers in design system and Figma best practices that resulted in standardized component architectures and a streamlined designer/developer workflow experience.</p>

          <p class="no-margin-bottom"><strong>Research-backed use cases</strong></p>
          <p>The assigned designer completes desk research that are aligned to product use cases and presents them to the team during weekly meetings.</p>
          
          <p class="no-margin-bottom"><strong>One potato, two potato…</strong></p>
          <p>The design system team works closely with their developer counterparts, who provide feedback and technical considerations. We iterate until we’re happy we’ve met all requirements of the use case.</p>
          
          <p class="no-margin-bottom"><strong>Outcome and impact</strong></p>
          <p>Teams are starting to row in the same direction and we're building a consistent and coherent product experience. Designers are becoming more systems minded. As a result, their feature work has been higher quality with less revisions.</p>
        </article>

        <article>
          <h4>Documentation: embracing the hot potato principle</h4>
          <p class="no-margin-bottom"><strong>Creating templates</strong></p>
          <p>The design and development teams collaborated to create documentation templates that provides self-serve design guidelines and specifications for consumers.</p>
          <p class="no-margin-bottom"><strong>Three potato more</strong></p>
          <p>Designers and developers work hand-in-hand to create documentation and user stories that are then decomposed during refinement.</p>
          <p class="no-margin-bottom"><strong>Outcome and impact</strong></p>
          <p>We have seen improved team efficiency, alignment, adherence to design standards, and a higher-quality user experience. Design system leadership is fielding a lot less questions. We continue to improve the documenation.</p>
        </article>

        <article>
          <h4>Communicating releases</h4>
          <p class="no-margin-bottom"><strong>From 30 minute demos to async just-in-time training</strong></p>
          <p>30 minute demos are commonplace for feature teams, except that they are often the only ones who attend them. It was critical that we get more eyeballs. I asked our front-end team if they would be open to creating demos that were two minutes or less for each new component and to share it out highly-trafficked communication channels.
          <p class="no-margin-bottom"><strong>Outcome and impact</strong></p>
          <p>Feature teams know not only when new components are available, but have digestible videos of the specific component they're implementing. We’ve seen lots of comments and reactions to the videos. Additionally, we’ve also created a Slack channel with an integration that automatically posts whenever there’s a new Storybook release.</p>
        </article>
      </div> <!-- end column -->  
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section>

<section class="section is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>Before & After</h2>
      </div> <!-- end column -->
      <div class="column is-8">
        <article>
          <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FOI8Y9WET9NFwYBDMx66IFk%2FIntegrate-Design-System%253A-Before-and-After%3Fpage-id%3D1%253A16044%26node-id%3D1-16626%26viewport%3D607%252C358%252C0.36%26t%3DqmlNNtkh163cLUyY-1%26scaling%3Dscale-down%26content-scaling%3Dfixed%26starting-point-node-id%3D1%253A16626" allowfullscreen></iframe>
          <p>Click the expand button to see the image full size.</p>
        </article>
      </div> <!-- end column -->  
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section>

<section class="section footer-nav is-fullwidth">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <a href="/pages/vela">  
          <h4 class="no-margin-bottom">Vela Patient Panel update</h4>
          <span class="project-type">In house design</span>
          <span class="btn--primary">View case study</span>
        </a>
      </div>

      <div class="column last">
        <a href="https://www.figma.com/proto/rEuoSvc1ald5QoZg9dAkNB/Integrate-Navigation-Case-Study?page-id=0%3A1&node-id=4502-9558&viewport=685%2C99%2C0.25&t=ycV4r9f91uF65wru-1&scaling=scale-down-width&content-scaling=fixed&starting-point-node-id=4502%3A9558" target="_blank">  
          <h4 class="no-margin-bottom">Integrate navigation redesign</h4>
          <span class="project-type">In house design</span>
          <span class="btn--primary">View case study</span>
        </a>
      </div>
      
    </div>
  </div>
</section>

