<section class="section vela-panel-hero is-fullwidth offset-header">
  <div class="container">
    <div class="columns is-gapless">
      <div class="column knockout">
        <h2 class="no-margin-bottom">Vela Patient Panel</h2>
        <p class="type--large">Enables Care Managers to efficiently manage their caseloads at scale, aligned with program objectives or personal preferences.</p>
        <img class="shadow-large" src="/images/vela-panel-hero.svg" alt="Vela Panel">
      </div>
    </div>
  </div>
</section>

<section class="section is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>Overview</h2>
      </div> <!-- end column -->
      <div class="column is-6">
        <article>
          
        </article>
      </div> <!-- end column -->  
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section>

<section class="section is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>The Business Problem</h2>
      </div> <!-- end column -->
      <div class="column is-6">
        <article>
          
        </article>
      </div> <!-- end column -->  
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section>

<section class="section is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>My Process</h2>
      </div> <!-- end column -->
      <div class="column is-6">
        <article>

        </article>
      </div> <!-- end column -->  
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section>

<section class="section is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>Iterations</h2>
      </div> <!-- end column -->
      <div class="column is-6">

        <article>

        </article>
      </div> <!-- end column -->  
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section>

<section class="section is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>Final Design</h2>
      </div> <!-- end column -->
      <div class="column is-6">
        <article>

        </article>
      </div> <!-- end column -->  
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section>

<section class="section is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>Impact</h2>
      </div> <!-- end column -->
      <div class="column is-6">
        <article>

        </article>
      </div> <!-- end column -->  
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section>

<section class="section is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>Lessons Learned</h2>
      </div> <!-- end column -->
      <div class="column is-6">
        <article>

        </article>
      </div> <!-- end column -->  
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section>