<div class="resume user-guide offset-header">
  <section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-2-desktop is-8-desktop">
        <h2 style="color: #2d3047;">A User Guide to Working with Joshua Litchfield</h2>
        <h3>Introduction</h3>
        <p>Working in technology and being an American working in the city of Boston, I communicate every day with colleagues and people from different cultures, backgrounds, and life experiences. My wife, who is from Italy, can have <em>entire</em> conversations with her family using just her hands! Every day at home, I experience the differing views of success, communication, and work-life balance between our two cultures.</p>
        <p>I wrote this user guide to give you a better understanding of me, my values, quirks, and growth areas so that we can develop the healthiest relationship possible. I encourage you to do the same and share your user guide with me as well!</p>
        <h3>How I view success</h3>
        <ul>
          <li><strong>Inclusivity:</strong> No matter our birthplace, cultures, religious beliefs, gender, sexual orientation, or skin color, most people all want the same thing. People want to be happy, healthy, safe, and to be accepted by others.</li>
          <li><strong>Integrity:</strong> Caregivers and people receiving care require their healthcare professionals to have strong moral and ethical principles. The designer and the experiences he creates require the same rigidity and adherence to these principles.</li>
          <li><strong>Continuous learning:</strong> Product Design is a relatively new craft with a deep history with roots in graphic design, fine arts, and other fields. I respect others with a continuous learning mindset in their chosen craft because that is what it takes to succeed.</li>
          <li><strong>Continuous improvement:</strong> One of the goals of constant learning is improving your expertise and applying it to your chosen craft. I also appreciate designers who strive to improve their products through user feedback, data, and other sources. I also respect product designers who are always tinkering with the product experience to enhance their app.</li>
          <li><strong>High standards:</strong> I place a high standard on myself and the products I buy. I thoroughly enjoy the &#8220;little big details&#8221; or micro-interactions that provide magical moments for users. These little details separate good products from great products. Do what is right, even if it is hard.</li>
          <li><strong>Outcomes, not features:</strong> People &#8220;hire&#8221; applications to help them do a job faster and more efficiently. As a product designer working in healthcare, I devise experiences where patient outcomes matter. I respect product stakeholders focused on improving outcomes rather than adding useless or &#8220;nifty&#8221; features that hinder results.</li>
        </ul>
        <h3>How I communicate</h3>
        <ul>
          <li>My internal train of thought is continually running in the background while listening or speaking with others. It is always looking for a connection to anything relevant to the conversation at hand. This &#8220;background job&#8220; occurs both when I am speaking or listening to others.</li>
          <li>When speaking, I sometimes find it hard to &#8220;stay on track&#8221; with my message because I've thought of something pertinent to the conversation which isn't in the document I'm presenting.</li>
          <li>When listening, I sometimes impulsively interrupt you because I am so excited about what I thought of that I feel the need to do so. I am working on writing it down or keeping it in short-term memory to share when you're done speaking.</li>
          <li>I believe my verbal communication style is casual and friendly, but the written word is more formal and grammatically correct.</li>
          <li>I use obscenities when I am passionate or upset about a topic. It is not often, and I do this for effect.</li>
          <li>I have a focus block every day from 12 PM – 3 PM. I prefer not to have sync meetings scheduled over that time, but I am OK with meetings and conversations that move projects forward.</li>
          <li>Microsoft Teams or a similar solution is the best place to get my attention for quick inquiries. Still, I prefer video or in-person conversations for prolonged or complicated subjects.</li>
          <li>I manage my to-do list in a standalone application. I don't do it in my chat or email client, so I don't have a preference.</li>
          <li>Outside of office hours, I tend to turn off notifications and don't check email. Family and work/life balance is different in Italian households, which I adhere to those more so than American norms. However, I monitor email and work more when required.</li>          
        </ul>
        <h3>Things I do that may annoy you or be misunderstood</h3>
        <ul>
          <li>For most of my career, I've worked as a solo designer. As a result, I haven't had the luxury of time or access to UX researchers and often &#8220;relied on my gut.&#8221; In a sense, I've worked a vacuum. As a result, I can sometimes be too defensive when receiving feedback. Sometimes I need a moment to think about it. I am proactively working on improving this.</li>
          <li>As a designer, I am most often thinking and designing for future states. For some stakeholders, this can be frustrating when trying to solve something in the present.</li>
          <li>I am very rational, sometimes to a fault. As a result, I sometimes have trouble empathizing with people.</li>
        </ul>
        <h3>My strengths</h3>
        <ul>
          <li><strong>Healthy relationships:</strong> One of the leading contributors to a successful product and company is the people working there. Also, we spend more time with work colleagues than family members, even in the pandemic era. I need to have good, healthy relationships with those around me, whether at the office or home.</li>
          <li><strong>Honesty and transparency:</strong> These two principles allow for better management, the right career choices, and overall trust and security in the relationships we have with each other and the company that employs us. I would rather be open to a candidate and have that person make their own choice rather than deceive them.</li>
          <li><strong>Ability to see short and long-term vision:</strong> When designing new features for the product, I have a good sense of where it might in the long-term then break it out into small, useful chunks.</li>
          <li><strong>Strategic Partner:</strong> The product experience lives at the intersection of the business and user needs. One way too far in either direction won't serve either party well. Balancing those needs is one of the primary goals of the product development process.</li>
          <li><strong>Creating frameworks:</strong> The application footprint of the healthcare professional is extensive and requires several skill sets. Building these complex products and interactions requires systems-thinking frameworks allowing for faster learning and apprehension of the products.</li>
        </ul>
        <h3>My growth areas</h3>
        <ul>
          <li><strong>Understanding the problem:</strong> Relying on my gut has served me well over my career, but interacting with users throughout the product development process is invaluable. I am learning more about jobs-to-be-done, outcomes-driven methods, primary and secondary research, reframing the problem, etc.</li>
          <li><strong>Application design:</strong> I am confident in my knowledge of UI controls and best practices. However, I plan to increase my understanding of systems thinking approaches related to the end-user experience. Therefore I plan to learn more about object-oriented UX, natural-oriented UIs, and task-driven UIs.</li>
          <li><strong>Expanding domains on knowledge:</strong> If I want to be more successful in the vertical I work in, I must continue to learn more about models of care, caseload management, task management, automation, to name a few.</li>
          <li><strong>Communication:</strong> I've identified the need to interact more with stakeholders and users throughout the process. To be successful in that endeavor, I must also improve my communication skills. Therefore I am honing my improving active-listening skills, using less technical jargon, proactively documenting design decisions, storytelling, presentation skills, communicating using the pyramid technique.</li>
          <li><strong>UX writing:</strong> Microcopy, labels, error messages, and other text are perhaps the most challenging part of designing the end-users' experience and is an area I am continually working to improve.</li>
        </ul>
        <h3>My expectations for my reports</h3>
        <ul>
          <li><strong>Open and honest line of communication:</strong> I always welcome feedback and suggestions on anything from the design process, tools, my skills as a manager, or input about the company.</li>
          <li><strong>High standards:</strong> I place very high standards on myself. I expect high standards for you as well. I would instead ask for more time to complete a design task rather than cut corners.</li>
          <li><strong>Commitment to quality:</strong> I respect a high commitment to quality. I also appreciate building the correct thing, not the easy or fast thing, and sticking up for it. As designers, we are the &#8220;voice of the user.&#8221;</li>
        </ul>
        <h3>Logistics</h3>
        <ul>
          <li>As designers, we will continuously be chatting, doing design reviews, and working closely together.</li>
          <li>For 1:1s, we will always go over your questions and concerns first;
            <ul>
              <li>Next, I will share any news I've received from my managers.</li>
              <li>We will either go over or set-up more time if we don’t cover everything.</li>
              <li>Discuss objectives for the coming week.</li>
              <li>Anything else you recommend we add to the format.</li>
            </ul>
          </li>
        </ul>
        <h3>Giving and receiving feedback</h3>
        <ul>
          <li>No matter the context, feedback is typically well-intentioned. It would be naive to assume that all input is all good all the time. 😉</li>
          <li>When giving feedback, I am coming from a place of knowing that I think I possess. If I don't know, I will tell you that I don't know or send you to someone who can better answer your question.</li>
          <li>I can sometimes give you unprompted input, but I now realize that may come across as rude or myself acting like a know-it-all. I'm working on asking people first.</li>
          <li>I always welcome feedback in the spirit of continual improvement. This feedback applies to my design, managerial, communication, and &#8220;human&#8221; skills.</li>
        </ul>
        <span class="last-updated">Last updated on November 2020.</span>
      </div><!-- end column -->
    </div><!-- end columns -->
  </div><!-- end container -->
  </section>
</div>

<section class="section footer-nav is-fullwidth">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <a href="/pages/resume"> 
          <h4 class="no-margin-bottom">Check out my experience</h4>
          <span class="btn">View Resume</span>
        </a>
      </div>
      <div class="column last">
        <a href="/pages/about">  
          <h4 class="no-margin-bottom">Learn more about what makes me tick</h4>
          <span class="btn">About Joshua</span>
        </a>
      </div>
    </div>
  </div>
</section>
