<section class="section">
  <div class="container">
    <div class="columns offset-header padding--large is-vcentered">
      <div class="column is-one-third">
        <article>
            <h3 class="no-margin-bottom">Quizzly</h3>
            <span class="project-type dash-trailing">In House Design</span>
            <p>Quizzly is a market research platform for the medical community. Quizzly needed an administrator portal to collect profiling data. The tool also allows admins to create group/attribute pairs and questions targeted to specific specialties and countries. In addition, the portal has reporting to show fill rates per question.</p>
            <a class="btn" href="/pages/quizzly">View Case Study</a>
        </article>
      </div>
      <div class="column is-offset-1">
        <img class="box-shadow" src="/images/quizzly.svg" alt="Quizzly">
      </div>
    </div>
  </div>
</section>

{% include dribbble-vela.html %}

<section class="section is-fullwidth contrast">
  <div class="container">
    <div class="columns is-vcentered padding--large">
      <div class="column is-one-third">
        <article>
            <h3 class="no-margin-bottom">Twine Health Site Redesign</h3>
            <span class="project-type dash-trailing">In House Design</span>
            <h4>Background &amp; Objective</h4>
            <p>The overarching goal was to make the site more consumer friendly. I designed 6 layouts, totaling 8 pages. The kicker is I had to do all this in one week.</p>
            <a class="btn" href="/pages/twine-health-site-redesign">View Project</a>
        </article>
      </div>
      <div class="column">
        <img src="/images/twine@2x.png" alt="Twine Health Site Redesign">
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered padding--large">
      
      <div class="column is-offset-1 is-3">
        <img src="/images/solstice@2x.png" alt="Solstice Initiative">
      </div>
      <div class="column is-offset-1 is-5">
        <article>
            <h3 class="no-margin-bottom">Solstice Initiative</h3>
            <span class="project-type dash-trailing">Idea Hack At Startup Institute</span>
            <p>I participated in a 24-hour hackathon for Solstice Initiative, which aims to provide solar for every American. Solstice Initiative tasked us to build a platform to create stickiness with its users. Startup Institute helps individuals build their soft and hard skills, helping them to find a career they love while doing work that matters.</p>
            <a class="btn" href="/pages/solstice-initiative">View Project</a>
        </article>
      </div>
    </div>
  </div>
</section>

{% include about-joshua.html %}