<section class="section">
  <div class="container">
    <div class="columns offset-header is-vcentered">
      <div class="column is-4">
        <article>
            <h2 class="no-margin-bottom dash-trailing">Integrate Design System</h2>
            <p>The Integrate app was a fragmented user experience and badly needed to fresh start. A principled design system with leadership continuity would mean that customers would have a consistent and coherent user experience.</p>
            <p>Also, design principles drives better communication and decision making. Planning along with streamlined design and development workflows boosts overall productivity that results in delivering functionality to end customers faster, giving Integrate an edge over its competitors.</p>
            <a class="btn--primary" href="/pages/integrate-design-system">View case study</a>
        </article>
      </div>
      <div class="column is-offset-1 is-6">
        <img class="shadow-large" src="/images/int-app.svg" alt="Integrate app">
      </div>
    </div>
  </div>
</section>

{% include quote.html %}

<section class="section bg--contrast">
  <div class="container">
    <div class="columns offset-header is-vcentered">
      <div class="column is-6">
        <img class="shadow-large" src="/images/int-nav-redesign.svg" alt="Integrate Navigation Redesign">
      </div>
      <div class="column is-offset-1 is-4">
        <article>
            <h2 class="no-margin-bottom dash-trailing">Integrate Navigation Redesign</h2>
            <p>The consolidation of our codebases and the redesign of our product into a unified platform necessitated a rework of the information architecture and navigational patterns for our customers.</p>
            <p>Our customers will benefit from a navigation that better aligns with user workflows, eliminates redundancies, and accommodates new access control models and product experiences.</p>
            <a target="_blank" class="btn--primary" href="https://www.figma.com/proto/rEuoSvc1ald5QoZg9dAkNB/Integrate-Navigation-Case-Study?page-id=0%3A1&node-id=4502-9558&viewport=685%2C99%2C0.25&t=ycV4r9f91uF65wru-1&scaling=scale-down-width&content-scaling=fixed&starting-point-node-id=4502%3A9558">View case study</a>
        </article>
      </div>
    </div>
  </div>
</section>

{% include dribbble-vela.html %}

<section class="section">
  <div class="container">
    <div class="columns offset-header is-vcentered">
      <div class="column is-6">
        <img class="shadow-large" src="/images/vela-panel-hero.svg" alt="Vela Panel Update">
      </div>
      <div class="column is-offset-1 is-4">
        <article>
            <h2 class="no-margin-bottom dash-trailing">Vela Panel Update</h2>
            <p>The Vela Panel allows Care Managers to access their caseload at scale from a prioritized list according to their personal preference or program objectives.</p>
            <p>The project's goal was to create a Panel for the Pro for effective caseload management.</p>
            <a class="btn--primary" href="/pages/vela">View case study</a>
        </article>
      </div>
      
    </div>
  </div>
</section>

{% include about-joshua.html %}

