<section class="section">
  <div class="container">
    <div class="columns offset-header is-vcentered">
      <div class="column is-4">
        <article>
            <h2 class="no-margin-bottom dash-trailing">Integrate Design System</h2>
            <p>The Integrate app was a fragmented user experience and badly needed to fresh start. A principled design system with leadership continuity would mean that customers would have a consistent and coherent user experience.</p>
            <p>Also, design principles drives better communication and decision making. Planning along with streamlined design and development workflows boosts overall productivity that results in delivering functionality to end customers faster, giving Integrate an edge over its competitors.</p>
            <a class="btn--primary" href="/pages/integrate-design-system">View case study</a>
        </article>
      </div>
      <div class="column is-offset-1 is-6">
        <img class="shadow-large" src="/images/int-app.svg" alt="Integrate app">
      </div>
    </div>
  </div>
</section>

<section class="section bg--contrast">
  <div class="container">
    <div class="columns offset-header is-vcentered">
      <div class="column is-6">
        <img class="shadow-large" src="/images/vela-panel-hero.svg" alt="Vela Panel Update">
      </div>
      <div class="column is-offset-1 is-4">
        <article>
            <h2 class="no-margin-bottom dash-trailing">Vela Panel Update</h2>
            <p>The Vela Panel allows Care Managers to access their caseload at scale from a prioritized list according to their personal preference or program objectives.</p>
            <p>The project's goal was to create a Panel for the Pro for effective caseload management.</p>
            <a class="btn--primary" href="/pages/vela">View case study</a>
        </article>
      </div>
    </div>
  </div>
</section>

{% include quote.html %}

<section class="section">
  <div class="container">
    <div class="columns padding--large is-vcentered">
      <div class="column is-one-third">
        <article>
            <h2 class="no-margin-bottom dash-trailing">Quizzly</h2>
            <p>Quizzly is a market research platform for the medical community. Quizzly needed an administrator portal to collect profiling data. The tool also allows admins to create group/attribute pairs and questions targeted to specific specialties and countries. In addition, the portal has reporting to show fill rates per question.</p>
            <a class="btn--primary" href="/pages/quizzly">View case study</a>
        </article>
      </div>
      <div class="column is-offset-1">
        <img class="box-shadow" src="/images/quizzly.svg" alt="Quizzly">
      </div>
    </div>
  </div>
</section>

{% include dribbble-vela.html %}

<section class="section is-fullwidth bg--contrast">
  <div class="container">
    <div class="columns is-vcentered padding--large">
      <div class="column is-4">
        <article>
            <h2 class="no-margin-bottom dash-trailing">Twine Health Site Redesign</h2>
            <h4>Background &amp; Objective</h4>
            <p>The overarching goal was to make the site more consumer friendly. I designed 6 layouts, totaling 8 pages. The kicker is I had to do all this in one week.</p>
            <a class="btn--primary" href="/pages/twine-health-site-redesign">View project</a>
        </article>
      </div>
      <div class="column">
        <img src="/images/twine@2x.png" alt="Twine Health Site Redesign">
      </div>
    </div>
  </div>
</section>

{% include about-joshua.html %}