<section class="section quizzly is-fullwidth offset-header">
  <div class="container">
    <div class="columns is-gapless">
      <div class="column knockout">
        <h2 class="no-margin-bottom">Quizzly: A Case Study</h2>
        <p class="type--large">A market research survey engine for the healthcare community</p>
        <img class="content-center" src="/images/quizzly-header.svg" alt="Quizzly Login">
      </div>
    </div>
  </div>
</section>

<section class="section shadow">
  <div class="container">
    <div class="columns">
      <div class="column">
        <article>
          <h3>Background</h3>
          <p>Quizzly is a market research survey engine for the healthcare community. Clients can quickly gain sentiment from healthcare professionals internationally. A pain point for clients is the lack of screener questions to precisely target key demographics.</p>
        </article>
      </div>
      <div class="column">
        <article>
          <h3>Objective</h3>
          <p>Quizzly would like profile its members, to create additional targeting parameters, thereby reducing the need for screener questions. Internally, the tool allows Quizzly to create a taxonomy to classify and target its members for other purposes.</p>
        </article>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <article>
          <h3>Low Fidelity Wireframes</h3>
          <p>The next step in the process is to complete low fidelity wires. Here, ideas are also a flurry list, questions, and layouts. I write out user flows and think of red routes for users to quickly get where they want.</p>
        </article>
      </div>
      <div class="column">
        <article>
          <h3>Continuous Feedback and Iterations</h3>
          <p>The Product owner and I had two daily standup meetings. Doing so allowed us to quickly iterate and &ldquo;not go too far down the rabbit hole&rdquo;.</p>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="section is-fullwidth bg--contrast">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-2 is-8">
        <article>
          <h3>Questions &amp; Faceted Filters</h3>
          <p>At its core, Quizzly allows users to create questions to profile its users. Questions contain several overlapping properties such as specialty, group, attribute, and so on. Faceted filters allow for much greater granularity than typical filters or search.</p>
          <a class="btn" href="https://invis.io/FJ53ZYHY2" target="_blank">View Prototype</a>
        </article>
      </div>
    </div>
    <div class="columns">
      <div class="column is-offset-2 is-8">
        <img class="box-shadow" src="/images/quizzly.svg" alt="Quizzly">
      </div>
    </div>
  </div>
</section>

<section class="section is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-2 is-8">
        <article>
          <h3>Question Details</h3>
          <p>In a effort to keep the MVP lean the Questions Detail page was kept to a simple table based layout. The data shows, in absolute and relative terms, how much of the panel has completed the profile question.</p>
        </article>
      </div>
    </div>
    <div class="columns">
      <div class="column is-offset-2 is-8">
        <img class="content-center" src="/images/quizzly-question-details.svg" alt="Quizzly: Question Details">
      </div>
    </div>
  </div>
</section>

<section class="section create-question">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-offset-1 is-4">
        <img class="box-shadow" src="/images/quizzly-create-question.svg" alt="Quizly: Create a Question">
      </div>
      <div class="column is-offset-1 is-4">
        <article>
          <h3>Create a Question</h3>
          <p class="black">A wizard is the best way to compartmentalize what would otherwise be a cumbersome experience. Clients are brougt through the process in a minumum of three easy steps.</p>
          <a class="btn btn--tertiary" href="https://invis.io/FJ53ZYHY2" target="_blank">View Prototype</a>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="section is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-2 is-8">
        <article>
          <h3>Groups</h3>
          <p>In a effort to keep the MVP lean the Questions Detail page was kept to a simple table based layout. The data shows, in absolute and relative terms, how much of the panel has completed the profile question.</p>
        </article>
      </div>
    </div>
    <div class="columns">
      <div class="column is-offset-2 is-8">
        <img class="content-center" src="/images/quizzly-groups.svg" alt="Quizzly Questions">
      </div>
    </div>
  </div>
</section>

{% include dribbble-twine.html %}

<section class="section footer-nav is-fullwidth">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <a href="/pages/vela"> 
          <h4 class="no-margin-bottom">Vela Panel: A Case Study</h4>
          <span class="project-type">In House Design at Seniorlink</span>
          <span class="btn">View Project</span>
        </a>
      </div>
      <div class="column last">
        <a href="/pages/twine-health-site-redesign">  
          <h4 class="no-margin-bottom">Twine Health Site Resign</h4>
          <span class="project-type">In House Design at Twine Health</span>
          <span class="btn">View Project</span>
        </a>
      </div>
    </div>
  </div>
</section>