<section class="hero quote is-centered">
  <div class="hero-body">
    <div class="container">
      <div class="columns  is-centered">
        <div class="column is-8">
          <article>
            <h2>Recommendation</h2>
            <blockquote class="has-dropcap type--medium"><span class="dropcap"></span><span class="highlight-text">Thank you Joshua,</span><br><br>Thank you for the <strong>guidance, freedom and the opportunity</strong> to do everything I did so far to <strong>increase design awareness</strong> in the organization here. The India team has a <strong>major shift</strong> in including design into conversation after a lot of evaluation and I'm glad you let me lead this by consistent discovery, bringing perspectives and identify user, business and product goals in every single product line I am a part of.<br><br>
            <strong>Thank you for the guidance and most importantly trusting me to make progress with the team here.</strong> The transparency in the design team in the last few quarters was phenomenal and encouraged each of one us to truly understand the product and question things, <em>gently</em>. And I'm glad we could all do that often. I hope we can continue to bring that to our team and take charge where necessary and halt and guide when needed, which <strong>under your leadership was truly a great success</strong></blockquote>
            <cite>Snigdha Nanduri, <em>Product Designer, Integrate</em></cite>
          </article>
        </div>
      </div>
    </div>
  </div> 
</section>