<div class="resume offset-header">
  <div class="container">
    <div class="row padding--small">
      <header class="profile">
        <h3>Profile</h3>
        <p>I am looking to work at a design-centric firm that focuses on team, process, and learning. I strive to build really great products and experiences.</p>
      </header>
    </div>
    <div class="row padding--small">
      <main class="eight columns clearfix">
        <h3>Professional Experience</h3>
        <h4 class="no-margin-bottom">UX Engineer at <a href="https://www.startupinstitute.com" target="_blank">Startup Institute</a> <span class="">// MAR 2017 – JUL 2017</span></h4>
        <p>UX/UI Design, HTML and CSS of all digital assets. Responsible for creating user flows, and designing emails, landing pages and marketing site.</p>
        
        <h4 class="no-margin-bottom">Web Design Instructor at <a href="https://www.startupinstitute.com/intro-courses/web-design/" target="_blank">Startup Institute</a> <span class="">// AUG 2016 – JUL 2017</span></h4>
        <p>This part-time course teaches the fundamentals of HTML, CSS, and the principles of responsive design. I also assisted in updating the curriculum.</p>

        <h4 class="no-margin-bottom">Visual Designer at <a href="https://www.twinehealth.com/" target="_blank">Twine Health</a> <span class="">// JAN 2016 – JAN 2017</span></h4>
        <p>Feature work included creating user flows, wireframes, and mockups to pixel perfect designs and prototypes. <strong>Overhauled</strong> calendar feature. Completed <strong>automated plan check-in feature</strong> from wires to production ready design. Designed <strong>new health coaches dashboard UX/UI</strong>. <strong>Redesigned iconography</strong>; ~50 in total. Redesigned <strong>website in one week</strong>. I completed projects for every department, which included print, web and product design.</p>

        <h4 class="no-margin-bottom">Web Design Student at <a href="https://www.startupinstitute.com/" target="_blank">Startup Institute</a> <span class="">// OCT 2015 – DEC 2015</span></h4>
        <p>Selected from a competitive applicant pool for this eight week immersive program. Startup Institute helps individuals to develop the skills, mindset, and network to be high-impact at a high-growth company.</p>

        <h4 class="no-margin-bottom">UX/UI Designer at <a href="http://www.sermo.com/" target="_blank">Sermo</a> <span class="">// JUN 2014–OCT 2015</span></h4>
        <p>Worked with Project Manager to define MVP for market research web app, which included internally and externally facing experiences. Designed and coded responsive emails. Assisted in design and reviews of iOS app.</p>

        <h4 class="no-margin-bottom">Web Designer at <a href="http://www.sermo.com/" target="_blank">Sermo</a> <span class="">// MAR 2011 – JUN 2014</span></h4>
        <p>Designed and coded landing pages and banner ads. Upon completion of campaign, I pulled and analyzed raw data then created metrics reports.</p>
        <p>Clients included Bristol-Myers Squibb, Genentech, Janssen Pharmaceuticals, Microsoft, and Shire US</p>

        <h4>Graphic Design Intern at Harpoon Brewery <span class="">// JAN 2009 – DEC 2009</span></h4>

        <h3>Non-profit Experience</h3>
        <h4 class="no-margin-bottom">Co-founder at <a href="https://mikemcneil.org/" target="_blank">Mike McNeil Org.</a> // <span class="">MAR 2009 – PRES.</span></h4>
        <p>MMO has donated over $175,00 to MGH and other non-profit causes. Our largest event is a 450+ person annual pub crawl. Designer for all merchandise, print, and web design. Team role includes planning and execution of all events.</p>

        <h3>Education</h3>
        <h4 class="no-margin-bottom">University of Massachusetts, Lowell <span class="">// Class of 2008</span></h4>
        <p>Bachelor of Fine Arts, Graphic Design</p>
      </main>
      
      <aside class="offset-by-one three columns">
        <h3>Skills &amp; Tools</h3>
        <h4>Expert Knowledge</h4>
        <ul>
          <li>Sketch</li>
          <li>Photoshop</li>
          <li>Illustrator</li>
          <li>Invision</li>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>Responsive Design</li>
          <li>Litmus &amp; Email on Acid</li>
        </ul>
        <h4>Working Knowledge</h4>
        <ul>
          <li>Git &amp; Github</li>
          <li>Jekyll</li>
          <li>Sass</li>
          <li>Client Relations</li>
          <li>Content Strategy</li>
        </ul>
        <h3>Awards</h3>
        <ul>
          <p>Owl Award, Startup Institute, 2016</p>
          <p>Honoree, The One Hundred, Massachusetts General Hospital, 2011</p>
        </ul>
        <h3>Interests</h3>
        <ul>
          <li>Cooking &amp; Food</li>
          <li>Mixology</li>
          <li>Documentaries</li>
          <li>Technology</li>
          <li>Learning Italian</li>
        </ul>
      </aside>
    </div>
  </div>
</div>
