<div class="resume offset-header">
  <section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <div class="container"><!-- inner containter -->
          <div class="columns">
            <main class="column is-8">
              <h3>Profile</h3>
              <p class="black">I strive to work in environments that focus on inclusivity, integrity, continuous learning, and improvement where outcomes, not outputs, are the focus.</p>
              <h3>Professional Experience</h3>
              <div class="company">
                <img src="/images/logo-integrate@2x.png" width="48px" height="48px" alt="Integrate" />
                <h4 class="no-margin-bottom"><a href="https://www.integrate.com" target="_blank">Integrate</a></h4>
                <p class="type--kind_small">Remote • Oct 2021 – Present</p>

                <h4 class="no-margin-bottom">Principal Product Designer for <a href="https://www.integrate.com" target="_blank">Integrate</a><span class="type--kind_small"> Oct 2022 – Present</span></h4>

                <p class="black"><span class="highlight-text">Design System Lead.</span> Oversee continuous improvement of process, quality, and best practices. Maintain a roadmap that aligns with the release cycle, authored governance process, and oversee all components to drive consistency and standards.</p>
                <p class="black"><strong>Executed product vision work for multiple efforts</strong>, including the annual Consumer Advisory Board and the <strong>product redesign</strong> that included user research with top enterprise customers, <strong>resulting in multi-million cash funding</strong> to build the vision.</p>
                <p class="mvp strong">🏆 2023 Product Design Team MVP</p>

                <h4 class="no-margin-bottom">Senior Product Designer <span class="type--kind_small">Oct 2021 – Sep 2022</span></h4>
                <p class="black"><strong>Design lead</strong> for the Design System, Insights, and Integrations products.</p>
              </div><!-- end company -->

              <div class="company">
                <img src="/images/logo-author@2x.png" width="48px" height="48px" alt="Author by Humana" />
                <h4 class="no-margin-bottom"><a href="https://www.humana.com" target="_blank">Author by Humana</a></h4>
                <p class="type--kind_small">Remote • 10 mos</p>

                <h4 class="no-margin-bottom">Senior Product Designer <span class="type--kind_small">Jan 2021 – Oct 2021</span></h4>

                <p class="black"><strong>Co-led a gap analysis</strong> that included stakeholder interviews, analysis, and synthesis. We <strong>identified pain points and gaps</strong> in the MVP, provided <strong>usability rating scores by severity</strong>, and recommended training and process improvements, which led to research and roadmap initiatives.</p>
              </div><!-- end company -->

              <div class="company">
                <img src="/images/logo-seniorlink@2x.png" width="48px" height="48px" alt="Seniorlink" />                
                <h4 class="no-margin-bottom"><a href="http://vela.care" target="_blank">Vela</a> at <a href="https://careforth.com/" target="_blank">Seniorlink (now Careforth)</a></h4>
                <p class="type--kind_small">Boston, MA • 3 yrs 6 mos</p>

                <h4 class="no-margin-bottom">Senior Product Designer <span class="type--kind_small">Aug 2019 – Jan 2021</span></h4>
                <p class="black">Product team <strong>thought-partner and design team lead</strong> to help <strong>drive the long-term vision</strong>. Researched and <strong>implemented usability testing</strong>. Worked closely with senior leadership to design more flexible organizations to improve how permissions work, updating our <strong>access control models</strong>, and re-thinking the <strong>organizational hierarchy</strong>.</p>
                <p>Championed initiative and plan to have centralized internal documentation. Implemented onboarding for designers.</p>

                <h4 class="no-margin-bottom">Product Designer <span class="type--kind_small">Aug 2017 – Aug 2019</span></h4>
                <p class="black"><span class="highlight-text">Sole designer for all backlogs</span> and champion of the Design System. Collaborated with PM and Engineering on the <strong>redesign of the Pro Web app</strong>. Keystone features included a <strong>navigation overhaul</strong>, new questionnaire feature set, and a modern chat experience.</p>

                <p><strong>Played a key role in the Pro CarePaths feature:</strong> conducted stakeholder interviews, authored user personas, created storyboards, and assisted in requirements; championed a mini-viewer experience, the cornerstone of the feature set.</p>
              </div><!-- end company -->

              <div class="company">
                <img src="/images/logo-si@2x.png" width="48px" height="48px" alt="Startup Institute" />
                <h4 class="no-margin-bottom">Startup Institute</h4>
                <p class="type--kind_small">Boston, MA • 1 yr</p>

                <h4 class="no-margin-bottom">UX Engineer <span class="type--kind_small">Mar 2017 – Jul 2017</span></h4>
                <p>UX/UI, HTML and CSS for emails, landing pages, and marketing site.</p>

                <h4 class="no-margin-bottom">Web Design Instructor <span class="type--kind_small">Aug 2016 – Jul 2017</span></h4>
                <p class="black">I taught the fundamentals of HTML, CSS and responsive web design.</p>
              </div><!-- end company -->

              <div class="company">
                <img src="/images/logo-twine-health@2x.png" width="48px" height="48px" alt="Twine Health" />
                <h4 class="no-margin-bottom"><a href="https://www.twinehealth.com/" target="_blank">Twine Health</a></h4>
                <p class="type--kind_small">Cambridge, MA • 1 yr 1 mo</p>

                <h4 class="no-margin-bottom">Visual Designer <span class="type--kind_small">Jan 2016 – Jan 2017</span></h4>
                <p class="black"><strong>Overhauled calendar feature.</strong> Completed automated plan check-in feature. UX/UI for health coach dashboard. <strong>Redesigned product iconography</strong> (50 in total). Redesigned website in one week.</p>
              </div><!-- end company -->

              <div class="company">
                <img src="/images/logo-sermo@2x.png" width="48px" height="48px" alt="Sermo" />
                <h4 class="no-margin-bottom"><a href="http://www.sermo.com/" target="_blank">Sermo</a></h4>
                <p class="type--kind_small">Boston, MA • 4 yrs 10 mos</p>

                <h4 class="no-margin-bottom">UX/UI Designer <span class="type--kind_small">Jun 2014 – Oct 2015</span></h4>
                <p class="black">Worked with PM to <strong>define MVP for market research web app</strong>, which included internally and externally facing experiences. Assisted in design of iOS app</p>

                <h4 class="no-margin-bottom">Web Designer <span class="type--kind_small">Mar 2011 – Jun 2014</span></h4>
                <p class="black">Designed and wrote landing pages and banner ads in HTML and CSS. Upon campaign completion, I <strong>analyzed raw data to create metrics reports</strong>. Clients included Bristol-Myers Squibb, Genentech, Janssen Pharmaceuticals, Microsoft, and Shire US.</p>
              </div><!-- end company -->

              <div class="company">
                <img src="/images/logo-harpoon@2x.png" width="48px" height="48px" alt="Harpoon Brewery" />
                <h4 class="no-margin-bottom"><a href="https://www.harpoonbrewery.com/" target="_blank">Harpoon Brewery</a></h4>
                <p class="type--kind_small">Boston, MA • 11 mos</p>
                <h4>Graphic Designer <span class="type--kind_small">Jan 2009 – Dec 2009</span></h4>
              </div><!-- end company -->


              <h3>Non-profit Experience</h3>
              <div class="company">
                <img src="/images/logo-mmo@2x.png" width="48px" height="48px" alt="Mike McNeil Organization" />
                <h4 class="no-margin-bottom"><a href="https://mikemcneil.org/" target="_blank">Mike McNeil Organization</a></h4>
                <p class="type--kind_small">Nashua, NH • 12 yrs</p>

                <h4 class="no-margin-bottom">Co-founder <span class="type--kind_small">Mar 2009 – Mar 2022</span></h4>
                <p class="black">MMO has raised over $200,000 benefitting cancer research. Designer for all merchandise, print, and web design. Team role includes planning and execution of annual 450+ person pub crawl.</p>
              </div>

              <h3>Education</h3>
              <div class="company">
                <img src="/images/logo-university@2x.png" width="48px" height="48px" alt="University of Massachusetts at Lowell" />
                <h4 class="no-margin-bottom">University of Massachusetts, Lowell</h4>
                <p class="black type--kind_small">Graduated 2008 • Bachelor of Fine Arts, Graphic Design</p>
              </div>
            </main>

            <aside class="column is-4">
              {% include article.html %}
              <h3>Skills</h3>
              <h4>Expert Knowledge</h4>
              <ul class="black">
                <li>Enterprise Design</li>
                <li>Service Design</li>
                <li>Design Systems</li>
                <li>Systems Thinking</li>
                <li>Jobs to be Done</li>
                <li>OKRs & KPIs</li>
                <li>User &amp; UX Research</li>
                <li>Usability Testing</li>
                <li>Figma ❤️</li>
              </ul>
              <h4>Working Knowledge</h4>
              <ul class="black">
                <li>Task Oriented UX</li>
                <li>DesignOps</li>
                <li>Data Visualization</li>
                <li>HTML5</li>
                <li>CSS3</li>
              </ul>
              <h4>Passions</h4>
              <ul class="black">
                <li>Product Innovation</li>
                <li>Outcomes over Outputs</li>
                <li>Object-Oriented UX</li>
                <li>Natural User Interfaces</li>
              </ul>
              <h3>Awards</h3>
              <ul>
                <li>Honoree, The One Hundred, Massachusetts General Hospital. 2011</li>
              </ul>
              <h3>Interests</h3>
              <ul class="black">
                <li>Cooking &amp; Food</li>
                <li>Documentaries</li>
                <li>Learning Italian</li>
                <li>Technology</li>
              </ul>
            </aside>
          </div><!-- end columns -->
        </div><!-- end inner container -->
    </div><!-- end container -->
  </section>
  <section class="download-resume is-fullwidth padding--small">
    <a class="btn--large" href="/images/assets/Joshua-Litchfield-Principal-Product-Design-Boston-Resume.pdf" target="_blank">Download PDF Resume</a>
  </section>
</div>
