<section class="section solstice is-fullwidth offset-header">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-offset-1 is-5 knockout">
        <article>
          <h2>Solstice Initiative</h2>
          <h3 class="no-margin-bottom">The age of solar has arrived.</h3>
          <p>Solstice is the first provider of community-based solar power to any American that cannot install a rooftop array. Households can sign up to participate in a shared solar array and save money by switching to solar — no upfront cost, no rooftop, and no installation required.</p>
        </article>
      </div>
      <div class="column is-offset-1 is-4 no-padding-bottom">
        <img src="/images/solstice-header.png" alt="Solstice Initiative">
      </div>
    </div>
  </div>
</section>

<section class="section shadow">
  <div class="container">
    <div class="columns">
      <div class="column">
        <article>
          <h3>Pain Points</h3>
          <p>Community shared solar is the first solution for renters, but also entails higher customer turnover versus the more permanent assets of rooftop solar.</p>
        </article>
      </div>
      <div class="column">
        <article>
          <h3>Objective</h3>
          <p>Without a visible solar array on the roof, customers lack the tangibility of solar benefits that traditional clients have. Solstice panels are out-of-sight, therefore out-of-mind.</p>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="hero account">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-offset-2 is-8">
          <article>
            <h3>Painless Account Creation</h3>
            <p class="black">Users are able to quickly scan their energy bill to painlessly create an account. Furthermore, users may log in with their Facebook credentials, which can later be used for social sharing with the community.</p>
          </article>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <img class="content-center" src="/images/solstice-create-account@3x.png" alt="Solstice Initiative">
        </div>
      </div>
    </div>
  </div> 
</section>

<section class="section news-feed is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-4">
        <img src="/images/solstice-newsfeed-1.png" alt="Solstice Initiative: Newsfeed">
      </div>
      <div class="column is-offset-1 is-4">
        <article>
          <h3>A Sense of Community</h3>
          <p>The News Feed, a core part of the experience, educates users about the advantages of community solar. Users can also learn about community events.</p>
        </article>
        <img src="/images/solstice-newsfeed-2.png" alt="Solstice Initiative: Newsfeed">
      </div>
    </div>
  </div>
</section>

<section class="section badge is-fullwidth bg--contrast--mobile">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-6 is-5">
        <article> 
          <h3>Creating Stickiness</h3>
          <p class="black">Badges have been created to enable users respond to opportunities of winning and collecting awards that in turn can be displayed to other community members in order to increase engagement.</p>
        </article>
      </div>
      <div class="img--mobile">
        <img class="content-center" src="/images/solstice-badge.png" alt="Solstice Initiative: Creating Stickiness">
      </div>
    </div>
  </div>
</section>

<section class="hero dashboard is-fullwidth">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-offset-8 is-4">
          <article>
            <h3>The Dashboard</h3>
            <p>The Dashboard allows users to quickly see how much money they are saving each month. Also, users may see historical data to see how well they’re performing overtime. Finally, users can see how they perform against the community, further driving engagement.</p>
          </article>
        </div>
        <div class="img--mobile">
        <img class="content-center" src="/images/solstice-dashboard.png" alt="Solstice Initiative: Dashboard">
      </div>
      </div>
    </div>
  </div>
</section>

<section class="section orb shadow padding--medium">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-7">
        <article>
          <h3>Ambient Orb for the Home</h3>
          <p>Solstice Initiative clients receive a complimentary Ambient Orb for the home. The orb provides visual feedback to quickly see how much energy they are saving based on historical use. If the  client is making progress the orb glows green. Conversely, the orb turns red when energy consumption goes up.</p>
          <!-- <p class="type--small gray">Image courtesy of postscapes.com/ambient-orb</p> -->
      </article>
      </div>
    </div>
  </div>
</section>

<section class="section footer-nav is-fullwidth">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <a href="/pages/quizzly">
          <h4 class="no-margin-bottom">Quizzly: A Case Study</h4>
          <span class="project-type">Consultant Work</span>
          <span class="btn">View Case Study</span>
        </a>
      </div>
      <div class="column last">
        <a href="/pages/twine-health-site-redesign">  
          <h4 class="no-margin-bottom">Twine Health Site Resign</h4>
          <span class="project-type">In House Design</span>
          <span class="btn">View Project</span>
        </a>
      </div>
    </div>
  </div>
</section>