<section class="section vela-panel-hero is-fullwidth offset-header">
  <div class="container">
    <div class="columns is-gapless">
      <div class="column knockout">
        <h2 class="no-margin-bottom">Vela Patient Panel</h2>
        <p class="type--large">Enables Care Managers to efficiently manage their caseloads at scale, aligned with program objectives or personal preferences.</p>
        <img class="shadow-large" src="/images/vela-panel-hero-1.svg" alt="Vela Panel">
      </div>
    </div>
  </div>
</section>

<!-- Overview -->
<section class="section is-fullwidth"> 
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>The Business Problem</h2>
      </div> <!-- end column -->
      <div class="column is-8">
        <article>
          <p>Typically, a Care Manager and Coach's initial task is to review and triage patient activity for incidents and critical events. Care teams, comprising various healthcare professionals centered around the patient, rely on multiple data points to gain a comprehensive understanding of the patient's health.</p>
          <p>For instance, Vela Pro displays activity through indicators for new chat messages and alerts for questionnaire submissions. These features are organized in a dedicated space within the app, allowing professionals to focus on their tasks.</p>
          <p>However, a decentralized structure has made it challenging for professionals to get an overview of care team activity and has hindered their ability to triage care based on need.</p>
          <p><strong>View-all permissions:</strong> Branch Managers have read-only access to view the Care Teams managed by their Professionals. We also had to consider the functionality governed by this permission.</p>
          <p><strong>Additional use cases:</strong> While Vela Pro is designed for durably assigned caseloads, we must also accommodate other care models that meet our customers' diverse needs.</p>
        </article>
      </div> <!-- end column -->  
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section>


<!-- Business Problem -->
<section class="section is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>Overview</h2>
      </div> <!-- end column -->
      <div class="column is-8">
        <article>
          <h4 class="no-margin-bottom">My Role</h4>
          <p>Senior Product Designer</p>
          <h4 class="no-margin-bottom">Team</h4>
          <p>1 Product Manager, 6 Engineers, Subject Matter Experts</p>
          <h4 class="no-margin-bottom">Duration</h4>
          <p>2 quarters</p>
          <h4 class="no-margin-bottom">Process Overview</h4>
          <p>Product thinking, sketching, primary and secondary research, visual design, prototypes for feature validation, SME feedback sessions</p>
          <h4 class="no-margin-bottom">Personas</h4>
          <p>Branch Manager, Care Manager, RN Care Manager, Care Coach, Care Coordinator</p>
        </article>
      </div> <!-- end column -->  

    </div> <!-- end columns -->
  </div> <!-- end container -->
</section>

<!-- Process -->
<section class="section is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>My Process</h2>
      </div> <!-- end column -->
      <div class="column is-8">
        <article>
          <h3>Outcome statements</h3>
          <ul>
            <li>Professionals can manage their caseloads efficiently at scale from a single view.</li>
            <li>Professionals can view their panel based on personal preferences, workflows, or program goals.</li>
            <li>Branch Managers need to view a Professional's panel for caseload balancing, assessing coverage needs, and reviewing care team activity.</li>
          </ul>
        </article>

        <article>
          <h3>Technical Constraints</h3>
          <ul>
            <li><strong>Performance Requirements:</strong> Data might come from Vela Pro, a system of record, or other services. We need to ensure the Panel will be performant. Working closely with Engineering around this topic was essential.</li>
            <li><strong>Data Failures:</strong> We want to ensure that if one service fails, it doesn't kill the entire Panel service. If a failure does occur, how can we allow the Pro to recover from that?</li>
            <li><strong>No Machine Learning or AI:</strong> Vela doesn't use ML or AI, nor did we have folks with those skills. Also, using these technologies for several, often experimental, use cases might be too costly.</li>
          </ul>
        </article>

        <article>
          <h3>Development Statements</h3>
          <ul>
            <li><strong>List View:</strong> Pros need a new list view with columns for activity and other care room information.</li>
            <li><strong>Filtering:</strong> Pros need to filter their care team to see activity and other data.</li>
            <li><strong>Sorting:</strong> Pros need to prioritize sorting to get to what matters most to them. For example, I want to sort by my primary care teams, then secondary.</li>
            <li><strong>Data:</strong> As more data becomes available in the Panel, Pros must hide those irrelevant data, not germane to my workflow or program objectives.</li>
            <li><strong>Efficient Navigation:</strong> Pros need to efficiently go in and out of care rooms, which the current experience could do better. Red routes and modality will allow Pro to complete tasks with speed and efficiency.</li>
          </ul>
        </article>

        <article>
          <h3>Secondary Research</h3>
          <ul>
            <li>I needed access to users, but I didn't have it. However, user feedback from the Product and Technical Support teams informed the problem statement and user needs.</li>
            <li>Next, I conducted secondary research to evaluate best practices for filtering, sorting, data density, and complex tables while considering our users' skill levels.</li>
          </ul>
        </article>

        <!-- <article>
          <h3>Data Model</h3>
          <p>I met with the Product Manager and Engineering leads to determine the types of data we should expect, how it should be organized, and in which format.</p>
        </article> -->  

        <article>
          <h3>Design Principles</h3>
          <ul>
            <li><strong>Performance:</strong> If the panel is performant, it will retain its utility.</li>
            <li><strong>Efficiency:</strong> Easy access to data, red routes, and modality significantly decreases interaction costs, allowing the Professional to spend less time in the application and more time with care teams.</li>
            <li><strong>Extensibility:</strong> Filtering and sorting must be extensible enough to allow different data types we have yet to think of to support furure use cases.</li>
            <li><strong>Straightforward filtering &amp; sorting:</strong> Considering our users' technical proficiency, users need to be able to quickly determine how the panel is filtered and sorted with a low cognitive load.</li>
            <li><strong>Just enough information:</strong> Prior knowledge and my data density research helped validate our assumptions about data overload.</li>
            <li><strong>Information hierarch:</strong> For those pertinent data, Pros want to move panel columns to show the most critical information first.</li>
          </ul>
        </article>
      </div> <!-- end column -->  
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section>

<!-- Iterations -->
<section class="section is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>Iterations</h2>
      </div> <!-- end column -->
      <div class="column is-8">
        <article>
          <h3>Iteration one</h3>
          <p>The first iteration of the panel utilized existing components to give the panel a consistent experience—for example, the use of cards as rows and applied filters.</p>
          <img src="/images/vela-panel-it-1-fltr-1.svg" alt="Vela Patient Panel, First Exploration">
        </article>

        <article>
          <h4>Quick filters exploration</h4>
          <p>I played around with quick filters with a single click instead of a dropdown menu with higher interaction costs.</p>
          <img src="/images/vela-panel-it-1-fltr-2.svg" alt="Vela Panel: Filter and Sort">
        </article>

        <article>
          <h4>Filters &amp; long lists exploration</h4>
          <p>Filters with short lists are displayed in dropdown menus in Vela Pro. Given many filters have long lists, I experimented with the right drawer.</p>
          <img src="/images/vela-panel-it-1-fltr-3.svg" alt="Vela Panel: Filter and Sort">
        </article>

        <article>
          <h3>Iteration two</h3>
          <p>Sometimes, I build out the experience when working on a project, considering the long-term vision. It helps with story mapping and planning. During the second iteration, I began considering the requirements and design principles the team and I agreed on. The utility menu here accounts for views, filter and sort, and other menu items.</p>
          <img src="/images/vela-panel-it-2-options.svg" alt="Vela Panel: Filter and Sort">
        </article>

        <article>
          <h4>Rule Builder Filters</h4>
          <p>My desk research informed me that sentence-style wording, instead of parametric-style, makes it easier for Professionals to comprehend, even if longer.</p>
          <img src="/images/vela-panel-it-2-rule-bldr.svg" alt="Vela Patient Panel: rule builder filter">
        </article>

        <article>
          <h4>Advanced Sorting</h4>
          <p>In the previous implementation, we allowed the Professional to choose a primary sort and then make some assumptions about the secondary sort. In the future, the Pro will determine the order of her care teams.</p>
          <img src="/images/vela-panel-it-2-sort.svg" alt="Vela Patient Panel: advanced sorting">
        </article>

        <article>
          <h4>Fields</h4>
          <p>Data overload would eventually be a genuine concern. Also, some data would be necessary for some Professionals rather than others. They need a way to hide and order panel columns.</p>
          <img src="/images/vela-panel-it-2-options.svg" alt="Vela Patient Panel: fields">
        </article>

        <article>
          <h4>Panel Views &amp; Menu</h4>
          <p>Having complex filtering and sorting and the ability to configure fields a Professional cares about is a game-changer. Still, it can be taxing to configure them regularly, even if the application has a memory. Being able to save the settings into a view will be crucial. Of course, the professional needs to be able to rename, duplicate, or delete views.</p>
          <img src="/images/vela-panel-it-2-views.svg" alt="Vela Patient Panel: panel views">
        </article>

        <article>
          <h4>Expanded Columns</h4>
          <p>Performance is always a consideration, so I worked closely with my Engineering colleagues. Using the principle of progressive disclosure, we can show just enough data about the care team. With another call, the Professional can access care team data without leaving the panel.</p>
          <img src="/images/vela-panel-it-2-expanded.svg" alt="Vela Patient Panel: expanded columns">
        </article>
      </div> <!-- end column -->  
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section>

<!-- Monitoring section removed-->

<!-- Impact -->
<section class="section is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>Impact</h2>
      </div> <!-- end column -->
      <div class="column is-8">
        <article>
          <ul>
            <p>Before adding the primary filter, Professionals found it hard to determine the care teams' accurate caseload. The filter rule builder has enabled professionals to create personalized experiences tailored to their individual workflows, enhancing their efficiency and allowing them to spend more time with patients.</p>
          <p></p>
        </article>
      </div> <!-- end column -->  
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section>

<!-- Reflection -->
<section class="section is-fullwidth">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-3">
        <h2>Reflection</h2>
      </div> <!-- end column -->
      <div class="column is-8">
        <article>
          <h3>Updates &amp; Improvements</h3>
          <p>Since the updated panel filters were released, we worked with the Clinical and Client Services teams to identify and implement necessary updates and improvements. We added new filters, and the system has shown its flexibility by enabling the seamless integration of these additional filters.</p>
          <ul>
            <li>We consulted with the teams to learn what Branch Managers and Care Coaches need.</li>
            <li>We tested usability with Care Coaches to identify pain points and test our assumptions.</li>
            <li>We integrated subject matter experts throughout the process to improve outcomes.</li>
          </ul>
        </article>
      </div> <!-- end column -->  
    </div> <!-- end columns -->
  </div> <!-- end container -->
</section>

{% include dribbble-twine.html %}

<section class="section footer-nav is-fullwidth">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <a href="/pages/twine-health-site-redesign">  
          <h4 class="no-margin-bottom">Integrate Design System</h4>
          <span class="project-type">In house design</span>
          <span class="btn--primary">View case study</span>
        </a>
      </div>

      <div class="column last">
        <a href="https://www.figma.com/proto/rEuoSvc1ald5QoZg9dAkNB/Integrate-Navigation-Case-Study?page-id=0%3A1&node-id=4502-9558&viewport=685%2C99%2C0.25&t=ycV4r9f91uF65wru-1&scaling=scale-down-width&content-scaling=fixed&starting-point-node-id=4502%3A9558" target="_blank">  
          <h4 class="no-margin-bottom">Integrate navigation redesign</h4>
          <span class="project-type">In house design</span>
          <span class="btn--primary">View case study</span>
        </a>
      </div>
      
    </div>
  </div>
</section>

