// Dependencies
// colors.scss
// type.scss

.btn {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 1em;
  height: 40px;
  font-family: $sans-serif-body;
  line-height: 40px;
  font-weight: 700;
  border-radius: 5px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: all .2s linear;
  transition: all .2s linear; }


.btn--primary {
  @extend .btn;
  color: $white;
  background-color: $primary--500; }
  .btn--primary:hover {
    text-decoration: none;
    background-color: $primary--700; }
  .btn--primary:active {
    background-color: $primary--900; }

.btn--secondary {
  @extend .btn;
  color: $primary--950;
  background-color: $primary--100; }
  .btn--secondary:hover {
    color: #fff;
    background-color: $primary--300; }
  .btn--secondary:active {
    color: #fff;
    background-color: $primary--500; }

.btn--tertiary {
  @extend .btn;
  line-height: 36px;
  background-color: transparent;
  color: $black--950;
  border: 2px solid $black--950; }
  .btn--tertiary:hover {
    color: #fff;
    background-color: $black--950; }
  .btn--p:active {
    background-color: $primary--900; }

.btn--tertiary--on-dark {
  @extend .btn--tertiary;
  color: $white;
  border: 2px solid $white; }
  .btn--tertiary--on-dark:hover {
    color: $black--950;
    background-color: $white; }

.btn--tertiary--on-light {
  @extend .btn--tertiary;
  color: $white;
  border: 2px solid $white; }
  .btn--tertiary--on-light:hover {
    color: $white;
    background-color: $black--950; }

.btn--large--primary {
  @extend .btn--primary;
  height: 56px;
  font-size: 1.25rem;
  line-height: 56px; }


.btn--large--tertiary {
  @extend .btn--tertiary;
  height: 56px;
  font-size: 1.25rem;
  line-height: 52px; }
  