// fix
$primary: #1F487F;
$primary--light: #2B66B3;
$primary--dark: #122B4C;

// fix
$secondary: #FE6847;
$secondary--light: #FF886E;
$secondary--dark: #D9593C;

$black: #2D3047;
$black--light: #545D7F;
$black--dark: #001011;

// fix
$gray: #DBE3E8;
$gray--light: #EDF0F2;
$gray--dark: #A7B7C2;

// fix
$success: #46CAAD;
$warning:#F4D35E;
$danger: #EA513C;

$yellow: #fad46b;
$blue: #02baf2;
$orange: #e96300;
$red--old: #E81300;
$contrast: #eef2f5;