$primary: #1F487F;
$primary--light: #2B66B3;
$primary--dark: #122B4C;

$secondary: #FE6847;
$secondary--light: #FF886E;
$secondary--dark: #D9593C;

$black: #070014;
$black--light: #2C2933;
$black--dark: #16141A;

$gray: #DBE3E8;
$gray--light: #EDF0F2;
$gray--dark: #A7B7C2;

$success: #46CAAD;
$warning:#F4D35E;
$danger: #EA513C;