/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  max-width: -webkit-calc(1400px - (30px * 2));
  max-width: calc(1400px - (30px * 2));
  margin: 0 auto;
  padding: 0 20px; }

.column,
.columns {
  width: 100%;
  float: left; }

/* For devices larger than 400px */ 
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }

  .container.fluid {
    min-width: 100%; } 
}

@media (min-width: 769px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}

@media (min-width: 769px) {
  .container.fluid .one-third.column               { width: 33.6666666667%; }
  .container.fluid .two-thirds.column              { width: 66.3333333333%; }
  .container.fluid .one-half.column                { width: 50%; }

  // .container.fluid {
  //   padding: 0 3rem; }

  .container.fluid .column,
  .container.fluid .columns {
    margin: 0;
    padding: 0 40px; }
}


/* ==== EXTRAS (OLD)  ==== */
/* Add .flow-opposite to columns where you want a column on the right on desktop to display first on mobile. */
.column.flow-opposite { 
  float: right; }

/* Enable grid without padding between each column by adding '.no-padding' to a '.container' element. */
.no-padding .column {
  padding: 0; }

/* Enable grid without margin below each row by adding '.no-margin' to the '.container'. */
.no-margin .column {
  margin-bottom: 0; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Images / Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

/* ==== Global > Images ==== */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

.img--mobile {
  display: block;
  padding: 2rem; }

/* Larger than phablet (also point when grid becomes active) */
@media only screen and (min-width: 769px) {
  .img--mobile { display: none; } }

/* Padding
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 769px) {
  .padding--small {
    padding: 2rem 0; } // 32px

  .padding--medium {
    padding: 3rem 0; } // 48px

  .padding--large {
    padding: 4rem 0; } // 64px

  .padding--x-large {
    padding: 5rem 0; } // 80px
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than tablet */
@media (min-width: 769px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  overflow: auto;
}



