/* ==== SITE CONTAINER  ==== */
.container {
  max-width: -webkit-calc(1140px - (30px * 2));
  max-width: calc(1140px - (30px * 2));
  padding: 1em 2em;
  margin: 0 auto;
  overflow: auto; }
  @media screen and (max-width: 800px) {
    .container {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px)); } }
  
.container.fluid {
  max-width: none; }

.container:after, .footer-col-container:after {
  content: "";
  display: table;
  clear: both; }

/* ==== STRUCTURE  ==== */
.row {
  margin-right: -1em;
  margin-left: -1em; }

.row:after {
  content: "";
  display: block;
  clear: both; }

.column {
  float: left;
  padding: 1em;
  margin-bottom: 1rem;
  width: 100%; }

/* ==== COLUMN LAYOUT  ==== */
/* On all screens 769px and larger (landscape tablets + desktops), enable a grid layout with different width columns. */
@media (min-width: 769px) {
  .column.three-fourths { width: 75%; }
  .column.two-thirds { width: 66.666%; }
  .column.one-half      { width: 50%; }
  .column.one-third     { width: 33.333%; }
    .column.one-third.comfortable:nth-child(2) { 
      width: -webkit-calc(33.333% - (15px * 2));
      width: calc(33.333% - (15px * 2)); 
      margin-left: 15px;
      margin-right: 15px; }
  .column.one-fourth    { width: 25%; }
  .column.one-sixth     { width: 16.666%; }

  /* Offsets */
  .column.offset-three-fourths  { margin-left: 75%; }
  .column.offset-two-thirds     { margin-left: 66.666%; }
  .column.offset-one-half       { margin-left: 50%; }
  .column.offset-one-third      { margin-left: 33.333%; }
  .column.offset-one-fourth     { margin-left: 25%; }
  .column.offset-one-sixth      { margin-left: 16.666%; } }

/* ==== EXTRAS  ==== */
section {
  padding: 3rem 0; }

/* Add .flow-opposite to columns where you want a column on the right on desktop to display first on mobile. */
.column.flow-opposite { 
  float: right; }

/* Enable grid without padding between each column by adding '.no-padding' to a '.container' element. */
.no-padding .column {
  padding: 0; }

/* Enable grid without margin below each row by adding '.no-margin' to the '.container'. */
.no-margin .column {
  margin-bottom: 0; }


/* ==== EQUAL HEIGHT COLUMNS ==== */
.col-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
        align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }