// Dependencies:
// color.scss
// type.scss

/* ==== Helper Classes  ==== */
* { box-sizing: border-box; }
*:before, *:after { box-sizing: inherit; }
.clearfix:after { content: ''; display: block; clear: both; overflow: auto; }
.float-left { float: left; }
.float-right { float: right; }
.content-center { display: block !important; margin: 0 auto; }
.houdini { display: none; }
.no-padding-top { padding-top: 0; }
.no-padding-bottom { padding-bottom: 0; }
.no-margin-top { margin-top: 0; }
.no-margin-bottom { margin-bottom: 0; }

body {
  min-height: 100vh;
  color: $black--light;
  background-color: #fff; }

/* ==== Site header ==== */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 80px;
  padding: 20px 40px;
  z-index: 1;
  border-bottom: 1px solid $gray;
  background-color: #fff; }
  .site-header svg {
    height: 30px; }
  .site-header .site-name svg {
      margin-top: 5px; }
  @media (max-width: 600px) {
    .site-header { padding: 0 20px; } }

.site-nav {
  float: right; }
  nav ul {
  margin: 0;
  padding-left: 0; }
  nav ul li {
    float: left;
    list-style-type: none;
    line-height: 1.5;
    color: $secondary; }
    nav ul li:not(:last-child) {
      margin-right: 20px; }
    nav a.btn--linkedin {
      display: block;
      width: 30px;
      height: 30px;
      margin-top: 2px; }
    ul li:not(:last-child) {
      margin-right: 20px; }
    ul li svg {
      margin-top: 2px; }
  @media (max-width: 600px) {
    a {
      display: block;
      padding: 20px 0; }
    .site-nav ul li {
      width: 100%;
      background: $gray--light;
      text-align: center;
      border-bottom: 1px solid $gray--dark;
      text-decoration: none; }
      ul li:hover, ul li:active, ul li:focus {
        background: darken($gray--light, 3%); } }

.mobile {
  display: none;
  top: 0;
  position: fixed;
  width: 100%; }
  .mobile div {
    display: none; }
  button {
    position: absolute;
    top: 21px;
    right: 25px;
    border: 0;
    text-indent: 200%;
    overflow: hidden;
    background: #fff url(../images/hamburger.png) center no-repeat;
    border: 1px solid $gray--dark;
    border-radius: 3px;
    background-size: 80%;
    width: 30px;
    height: 30px;
    outline: none;
    transition: all 400ms ease; }
    button.expanded {
      transform: rotate(90deg);
      background-color: transparent;
      border: 0; }
  @media (max-width: 600px) {
    .mobile {
      display: block; 
      left: 0; } }

.desktop {
  display: block; 
  overflow: hidden; }
  @media (max-width: 600px) {
  .desktop {
    display: none; } }

/* ==== Icons ==== */
.icon > svg {
  display: inline-table;
  vertical-align: middle; }
  .icon > svg path {
    fill: $primary--dark; }

/* ==== Images ==== */
img {
  max-width: 100%;
  vertical-align: middle; }

/* ==== Links ==== */
a { text-decoration: none; }

/* ==== Hero content ==== */
.hero--container {
  position: relative;
  height: 100vh;
  background-color: $primary--light;
  .btn--large {
    margin-top: 2rem; } }

.hero--content-outer {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 100px 60px 0;
  box-sizing: border-box;
  text-align: center; }
  @media (max-width: 600px) {
    .hero--content-outer { 
      padding-top: 60px; } }

.hero--content-inner {
  margin-right: auto;
  margin-left: auto;
  max-width: 850px; }
  @media (max-width: 600px) {
    h2 {
      font-size: 2rem; }
    .hero--content-inner .type--large {
      font-size: 1rem; } }

.hero--content-inner h2 {
  color: #fff; }

.hero--content-inner p {
  color: rgba(255,255,255,.9); }

/* ==== HERO CONTENT > Arrow ==== */
.arrow {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  margin-left:-20px;
}

.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}
.animated{-webkit-animation-fill-mode:both;
-moz-animation-fill-mode:both;
-ms-animation-fill-mode:both;
-o-animation-fill-mode:both;

            animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

animation-fill-mode:both;
-webkit-animation-duration:2s;
-moz-animation-duration:2s;
-ms-animation-duration:2s;
-o-animation-duration:2s;
animation-duration:2s;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);}
  60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-30px);}
  60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

// TODO: OLD STLYES / CLEAN

/* ==== Header & Footer Shared ==== */
footer nav {
  width: 230px;
  margin-top: 24px !important; }

header nav ul li, footer nav ul li {
  display: inline-block;
  margin-right: 28px;
  padding: 0; }

nav ul li:last-child { margin-right: 0; }

header a, footer a {
  display: block;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear; }

header .nav-icon {
  width: 24px;
  height: 24px; }

footer .nav-icon {
  width: 30px;
  height: 30px; }

header .nav-fill {
  fill: #a2afb4; }

header .nav-fill.white {
  fill: #fff; }

footer .nav-fill {
  fill: #fff; }

header .nav-fill:hover {
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  fill: #E81300; /*red*/ }

div.wego header .nav-fill:hover,
div.solstice header .nav-fill:hover,
div.quizzly header .nav-fill:hover,
footer .nav-fill:hover {
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  fill: #0b1d40; /*dark blue*/ }

/* === Header ===*/
header {
  padding: 30px 40px 30px 40px;
  background-color: #fff; }

/* ==== Footer ==== */
footer {
  padding: 50px 0;
  background-color: #1e4ca5; }

footer h4, footer a {
  color: #fff;
  text-align: center; }

footer a.contact {
  display: block;
  font-size: 30px;
  line-height: 36px; }

footer a:hover {
  color: #0b1d40; }


/* ==== Sections ==== */
section.contrast { background-color: $contrast; }

section.quizzly .container {
  height: 580px;
  padding-top: 140px;
  background: #fff url("http://joshualitchfield.com/images/quizzly.png") right bottom no-repeat;
  background-size: 540px 592px; }

section.twine-site .container {
  height: 520px;
  padding-top: 100px;
  background: url("http://joshualitchfield.com/images/twine-site@2x.png") top 55px left no-repeat;
  background-size: 504px 390px; }

section.twine-site h4 { padding-top: 24px; }

section.dribbble {
  height: 340px;
  padding: 60px 0;
  overflow-y: hidden;
  background-color: #ea4c89; }

section.dribbble article { padding-top: 22px; }

section.dribbble h3, section.dribbble p { color: #fff; }
#logo-dribbble { height: 28px; }

section.solstice .container {
  height: 550px;
  padding-top: 140px;
  background: #fff url("http://joshualitchfield.com/images/solstice-initiative@2x.png") right 130px bottom no-repeat;
  background-size: 328px 469px; }

section.solstice article {
  margin-left: 40px; }

section.wego  .container {
  height: 640px;
  padding-top: 140px;
  background: #fff url("http://joshualitchfield.com/images/wego-health@2x.png") right no-repeat;
  background-size: 526px 531px; }

section.bio {
  height: 551px;
  padding-top: 140px;
  background: #fff url("http://joshualitchfield.com/images/joshua-litchfield-ux-ui-designer.png") center center no-repeat;
  background-size: 980px 551px; }

section.bio article {
  margin-left: 530px; }


/* === Twine Site Redesign ===*/
header.twine-site-redesign {
  height: 590px;
  background: #63bcdd url("http://joshualitchfield.com/images/twine-site-header.png") bottom center no-repeat; }

.twine-site-font svg {
  position: relative;
  top: 10px; }

.twine-site-colors {
  height: 530px;
  padding-top: 60px;
  background: #eef2f5 url("http://joshualitchfield.com/images/twine-site-colors@2x.png") bottom left 100px no-repeat;
  background-size: 405px 487px; }

.twine-site-colors p:last-of-type {
  padding-top: 0;  }

.twine-site-images {
  height: 350px;
  padding-top: 56px; 
  background: #fff url("http://joshualitchfield.com/images/twine-site-images.jpg") center right -30px no-repeat;
  background-size: contain;  }

/* ==== Quizzly ==== */
header.quizzly {
  height: 530px;
  background: #d4390f url("http://joshualitchfield.com/images/quizzly-login.png") bottom center no-repeat;
  background-size: 511px 346px; }

header.knockout h1,
header.knockout h2,
header.knockout .sub-header,
header.knockout p,
.after.knockout h3,
.after.knockout ul,
p.knockout {
  color: #fff; } 

p.knockout {
  font-size: 18px; }

.background {
  padding: 40px 0;
  background: #fff url("http://joshualitchfield.com/images/gradient.png") top center no-repeat;  }

.background article:first-of-type, .wires article:first-of-type {
  padding-right: 30px; }

.background article:last-of-type, .wires article:last-of-type {
  padding-left: 30px; }

.background article:last-of-type {
  padding-left: 30px; }

.brainstorm {
  height: 390px;
  padding-top: 90px;
  background: #fff url("http://joshualitchfield.com/images/brainstorm.png") center center no-repeat;
  background-size: 980px 390px; }

.wires { padding: 48px 0; }

.filters {
  padding: 60px 0; }

.filters img {
  padding-top: 24px; }

.details {
  height: 800px;
  padding-top: 60px;
  background: #fff url("http://joshualitchfield.com/images/quizzly-question-details.png") bottom center no-repeat;
  background-size: 980px 572px; }

.create-question {
  height: 640px;
  background: #fad46b url("http://joshualitchfield.com/images/quizzly-create-question.png") 54px center no-repeat;
  background-size: 452px 570px; }

.create-question article {
  width: 380px;
  padding-top: 195px;
  padding-left: 30px; }

.groups {
  height: 800px;
  padding-top: 60px;
  background: #fff url("http://joshualitchfield.com/images/quizzly-groups.png") bottom center no-repeat;
  background-size: 980px 588px; }

/* ==== Wego ==== */
header.wego-header {
  height: 566px;
  background: #764673 url("http://joshualitchfield.com/images/wego-header.png") bottom center no-repeat;
  background-size: 881px 422px; }

.info {
  padding: 48px 0; }

.before {
  height: 816px;
  padding-top: 152px;
  background: #dedede url("http://joshualitchfield.com/images/wego-before.png") bottom right no-repeat;
  background-size: 494px 772px; }

.after {
  height: 883px;
  padding-top: 102px;
  background: #78a8cd url("http://joshualitchfield.com/images/wego-after.png") bottom right no-repeat;
  background-size: 494px 842px;
  color: #fff; }

.before article, .after article {
  padding-left: 20px; }


.before h3, .after h3 {
  padding-bottom: 18px; }

.before ul li,
.after ul li {
  padding: 12px 0; }

.scroll {
  color: #fff; }

.scroll img {
  margin-right: 5px; }

.contrast {
  padding: 60px 0; }

/* ==== Solstice ==== */
header.solstice-header {
  height: 536px;
  background: #ef3e36 url("http://joshualitchfield.com/images/solstice-header.png") bottom right no-repeat;
  background-size: 480px 442px; }

header.solstice-header .grid-6 { padding: 75px 45px 0 0; }
header.solstice-header h2 { text-align: left; }

.account {
  height: 786px;
  padding-top: 60px;
  background: #f6e766 url("http://joshualitchfield.com/images/solstice-create-account.png") bottom center no-repeat;
  background-size: 973px 583px; }

.news-feed {
  height: 637px;
  padding-top: 440px;
  padding-left: 145px;
  background: #f9f9f9 url("http://joshualitchfield.com/images/solstice-newsfeed.png") center center no-repeat;
  background-size: 705px 637px; }

.badge {
  height: 637px;
  padding-top: 84px;
  background: #fff url("http://joshualitchfield.com/images/solstice-badge.png") center center no-repeat;
  background-size: 980px 637px; }

.badge article {
  padding-left: 10px; }

.dashboard {
  height: 637px;
  padding-top: 185px;
  background: #fff url("http://joshualitchfield.com/images/solstice-dashboard.png") center center no-repeat;
  background-size: 980px 637px; }

.dashboard h3, .dashboard p { color: #fff; }

.orb {
  height: 409px;
  padding-top: 100px;
  background: #fff url("http://joshualitchfield.com/images/solstice-orb.png") center center no-repeat;
  background-size: 980px 409px; }

.orb p {
  padding-bottom: 12px; }

.orb p.courtesy {
  font-size: 12px;
  padding-top: 0;
  color: #5e696d; }

/* ==== Next Project Nav ==== */
.footer-nav {
  height: 190px;
  background-color: #2e74ff; }

.footer-nav .nav-item {
  width: 50%;
  height: 190px;
  float: left; }

.footer-nav h4, .footer-nav span.project-type {
  padding: 0;
  font-weight: 400;
  color: #fff; }

.footer-nav a {
  display: block;
  padding: 40px 50px 40px 70px;
  text-decoration: none; }

.footer-nav a:hover h4, .footer-nav a:hover span.project-type {
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  color: #0b1d40; }

.footer-nav a:hover .btn-yellow {
  background-color: #fac020; }

.footer-nav h4 {
  font-size: 24px;
  font-weight: 400; }

.footer-nav .btn {
  margin-top: 18px; }

.footer-nav .last {
  background-image: -moz-linear-gradient( 0deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%);
  background-image: -ms-linear-gradient( 0deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%); }

/* ==== Resume ==== */
.resume main {
  margin-bottom: 40px;
  padding: 0 40px;
  border-right: 1px dashed #000; }

.resume aside {
  padding-left: 40px; } 

header.profile {
  padding-top: 0; }

header.profile p {
  font-size: 18px;
  line-height: 24px; }

.resume h3 {
  font-size: 24px;
  text-transform: uppercase;
  color: #64B3DF; }

.resume h4 {
  padding-bottom: 0; }

.resume main a {
  font-weight: inherit; }

.resume main a:hover {
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  color: #fac739; }

.resume p {
  padding-top: 0; }

.resume ul {
  padding: 0 0 32px 0; }

.resume ul li {
  list-style-type: none;
  padding: 0; }

.resume .date {
  font-size: 15px; }

.info {
  padding: 48px 0; }

/* ==== Media Queries ==== */
@media only all {
/* styles for qualified small viewports here */
}

/*800px*/
@media (min-width: 50em) {
/* styles for viewport widths 50em and up here */
}

/*1040px*/
@media (min-width: 65em) {
/* styles for viewports 65em and up here */
}