// Dependencies:
// color.scss
// type.scss

/* ==== Helper Classes  ==== */
* { box-sizing: border-box; }
*:before, *:after { box-sizing: inherit; }
.clearfix:after { content: ''; display: block; clear: both; overflow: auto; }
.float-left { float: left; }
.float-right { float: right; }
.content-center { display: block !important; margin: 0 auto; }
.houdini { display: none; }
.no-padding-top { padding-top: 0; }
.no-padding-bottom { padding-bottom: 0; }

body {
  min-height: 100vh;
  color: $black--light;
  background-color: #fff; }

/* ==== Site header ==== */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 80px;
  padding: 20px 40px;
  z-index: 1;
  border-bottom: 1px solid $gray;
  background-color: #fff; }
  .site-header svg {
    height: 30px; }
  .site-header .site-name svg {
      margin-top: 5px; }
  @media (max-width: 600px) {
    .site-header { padding: 0 20px; } }

.site-nav {
  float: right; }
  nav ul {
  margin: 0;
  padding-left: 0; }
  nav ul li {
    float: left;
    list-style-type: none;
    line-height: 1.5;
    color: $secondary; }
    nav ul li:not(:last-child) {
      margin-right: 20px; }
    nav a.btn--linkedin {
      display: block;
      width: 30px;
      height: 30px;
      margin-top: 2px; }
    ul li:not(:last-child) {
      margin-right: 20px; }
    ul li svg {
      margin-top: 2px; }
  @media (max-width: 600px) {
    a {
      display: block;
      padding: 20px 0; }
    .site-nav ul li {
      width: 100%;
      background: $gray--light;
      text-align: center;
      border-bottom: 1px solid $gray--dark;
      text-decoration: none; }
      ul li:hover, ul li:active, ul li:focus {
        background: darken($gray--light, 3%); } }

.mobile {
  display: none;
  top: 0;
  position: fixed;
  width: 100%; }
  .mobile div {
    display: none; }
  button {
    position: absolute;
    top: 21px;
    right: 25px;
    border: 0;
    text-indent: 200%;
    overflow: hidden;
    background: #fff url(../img/hamburger.png) center no-repeat;
    border: 1px solid $gray--dark;
    border-radius: 3px;
    background-size: 80%;
    width: 30px;
    height: 30px;
    outline: none;
    transition: all 400ms ease; }
    button.expanded {
      transform: rotate(90deg);
      background-color: transparent;
      border: 0; }
  @media (max-width: 600px) {
    .mobile {
      display: block; 
      left: 0; } }

.desktop {
  display: block; }
  // overflow: hidden; 
  @media (max-width: 600px) {
  .desktop {
    display: none; } }

/* ==== Site footer ==== */
.site-footer {
  height: 80px;
  width: 100vw;
  padding: 2.0625rem 0;
  font-size: 1rem; // 16px
  text-align: center;
  color: #fff;
  background-color: $primary--light; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }

/* ==== Page content ==== */
.page-content {
  padding: 30px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/* ==== Icons ==== */
.icon > svg {
  display: inline-table;
  vertical-align: middle; }
  .icon > svg path {
    fill: $primary--dark; }

/* ==== Images ==== */
img {
  max-width: 100%;
  vertical-align: middle; }

  /* ==== Links ==== */
  a {
    text-decoration: none; }

/* ==== Posts ==== */
.post-head pageer {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

/* ==== Hero content ==== */
.hero--container {
  position: relative;
  height: 100vh;
  background-color: $primary--light;
  .btn--large {
    margin-top: 2rem; } }

.hero--content-outer {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 100px 60px 0;
  box-sizing: border-box;
  text-align: center; }
  @media (max-width: 600px) {
    .hero--content-outer { 
      padding-top: 60px; } }

.hero--content-inner {
  margin-right: auto;
  margin-left: auto;
  max-width: 850px; }
  @media (max-width: 600px) {
    h2 {
      font-size: 2rem; }
    .hero--content-inner .type--large {
      font-size: 1rem; } }

.hero--content-inner h2 {
  color: #fff; }

.hero--content-inner p {
  color: rgba(255,255,255,.9); }

/* ==== HERO CONTENT > Arrow ==== */
.arrow {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  margin-left:-20px;
}

.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}
.animated{-webkit-animation-fill-mode:both;
-moz-animation-fill-mode:both;
-ms-animation-fill-mode:both;
-o-animation-fill-mode:both;

            animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

animation-fill-mode:both;
-webkit-animation-duration:2s;
-moz-animation-duration:2s;
-ms-animation-duration:2s;
-o-animation-duration:2s;
animation-duration:2s;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);}
  60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-30px);}
  60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

/* ==== SPECIALTIES ==== */
.specialties .specialty {
   background-color: #fff;
   border: 1px solid $gray--light;
   border-radius: 2px;
   box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15); }