// Dependencies:
// colors.scss

/* ====
Google Fonts Installed
PT Serif: 400, 700
Nunito: 300, 400, 700, 900
==== */

$serif-font-stack: "PT Serif", serif;
$sans-serif-font-stack: "Nunito", Arial, sans-serif;

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-serif-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}

/* ==== Default ==== */

body {
  font: 400 16px/1.5 $sans-serif-font-stack;
  color: $black--900;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

/* ==== Set `margin-bottom` to maintain vertical rhythm ==== */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { 
  line-height: 1.5;
  margin-bottom: 1rem; /*16px*/ }

p, pre, ul, ol, dl, figure {
  font-family: $sans-serif-font-stack; }

/* ==== Headings ==== */
h1, h2, h3, h4, h5, h6, blockquote {
  font-family: $serif-font-stack;
  font-weight: 400;
  color: $black--950; }

// 66px
h1 { font-size: 4.125rem; }

// 36px
h2 { font-size: 2.25rem; }

// 28
h3 { font-size: 1.75rem; }

// 24px
h4 { font-size: 1.5rem; }

// 18px
h5 { font-size: 1.125rem; font-weight: 700; margin-bottom: 0; }

// 16px
h6 { font-size: 1rem; }

.knockout h1,
.knockout h2,
.knockout h3,
.knockout h4,
.knockout h5,
.knockout h6,
.knockout p,
.knockout span,
.knockout blockquote {
  color: rgba(255, 255, 255, 0.9) !important; }

/* ==== Legacy Styles ==== */

strong {
  font-weight: 700;
}

.highlight-text {
  padding: .15em 0;
  font-weight: 700;
  color: $black--900;
  background: $highlight;
  box-shadow: .15em 0 0 $highlight, -.15em 0 0 $highlight;
}

.text-badge {
  display: inline-block;
  padding: .25em 0;
  font-weight: 700;
  color: $black--950;
  background: $primary--200;
  box-shadow: .15em 0 0 $primary--200, -.15em 0 0 $primary--200;
}

.dash-trailing:after {
  background: $primary--800;
  display: block;
  content: '';
  height: 4px;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 40px; 
}

.dash-trailing-small:after {
  @extend .dash-trailing;
  height: 4px;
}

/* ==== Copy ==== */

.type--kind_small {
  font-size: 0.875rem; } // 13px

.type--small {
  font-size: 0.75rem; } // 12px

p.type--medium, span.type--medium {
  font-size: 1.25rem; } // 20px

.type--large {
  font-size: 1.5rem; } // 24px

.has-dropcap:first-letter {
  font-family: $serif-font-stack;
  float: left;
  font-size: 5.65rem;
  line-height: 0.65;
  margin: 0.1em 0.1em 0 0;
}

/* ==== Quote ==== */

.dropcap {
  float: left;
  font-family: $serif-font-stack;
  font-size: 6rem;
  line-height: 1;
  color: inherit;
}
.dropcap:before,
.dropcap:after {
  content: "";
  display: block;
}
.dropcap:before {
  margin-top: -0.2em;
}
.dropcap:after {
  margin-bottom: -0.15em;
}

/* ==== Lists ==== */
ul li, ol li {
  margin-bottom: .5rem;
}

li > ul,
li > ol {
  margin-bottom: 0; }

.project-type {
  display: block;
  font-family: $sans-serif-font-stack;
  font-size: 0.875rem; // 14px
  font-weight: 700;
  text-transform: uppercase;
  color: $blurple; }