---
title: A Guide to working with Joshua Litchfield, a UX/UI Designer in Boston, MA
permalink: /pages/joshua-litchfield-user-guide.html
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    {% include joshua-litchfield-user-guide.html %}
    <!-- Hamburger Menu -->
    <script type="text/javascript">
      $('button').click(function() {
        $(this).toggleClass('.expanded').siblings('div').slideToggle();
      });
    </script>
  </body>
</html>
